/* S - reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "acumin-pro","Helvetica Neue",Helvetica,Arial,"sans-serif";
/*  font-weight: bold;
*/}
body { background: #f1f4f9; }
ul { list-style: none; }
a { 
  color: #000; 
  text-decoration: none;
}
/* E - reset */

/* S - header */

.header-wrap {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 36px; 
  
}
.header p a {
  display: inline-block;
  margin: 10px;
  padding: 2px;
  color: #00a8e6;
}
.header p a:hover {
  background: #00a8e6;
  color: #fff;
  border-radius: 2px;
}

/* E - header */

/* sidebar S */
.col-md-1 {
  float: left;
  width: 8.3333333333333%;
}
.main .row {
  position: relative;
}
.content-sidebar {
  position: fixed;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .content-sidebar {
    font-size: 12px;
    margin-left: 0;
    padding-right: 0;   
  }
}
@media screen and (max-width: 992px) {
  .content-sidebar {
    display: none;
  }
}

.content-sidebar dd {
  padding: 6px 0;
  letter-spacing: .5px;
}
.content-sidebar dd a {
  display: inline-block;
  padding: 2px 4px;
}
.content-sidebar dd a:hover {
  background: #00a8e6;
  color: #fff;
}
/* sidebar E */


/* S - main */
.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.part {
    margin-bottom: 60px;
    border-radius: 8px;
    background: #fff;
/*    box-shadow: 0 0 14px #cacacb;*/
}

.part h2 {
  padding: 24px 60px;
  border-bottom: 1px solid #f1f4f9;
  line-height: 16px;
}
.part h2 strong {
  color: #3c3c3c;
  font-size: 18px;
  padding-bottom: 22px;
  border-bottom: 2px solid #000;
}
.part .items {
  padding: 13px 36px;
}
@media (min-width: 992px) {
  .col-md-11 {
    float: left;
    margin-left: 130px;
    width: 91.666666666667%;
  }
}
@media (max-width: 480px) {
  .col-xs-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 480px) {
  .col-xs-6 {
    float: left;
    width: 50%;
  }
}
@media (min-width: 768px) {
  .col-sm-4 {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-2 {
    float: left;
    width: 16.666666666667%;
  }
}
.col-xs-6,.col-sm-4,.col-md-2 {
  padding-left: 10px;
  padding-right: 10px;
/*  background-color: rgba(0,0,0,.02);*/
}
.row:before,.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}


.part .item a {
  display: block;
  width: 100%;
  padding: 14px 8%;
  line-height: 20px;
  color: #30333C; 
  border-radius: 6px;
  box-sizing: border-box;
  letter-spacing: .5px;
}
.part .item a:hover {
  background: #f1f4f9;
}

.part .item a h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 21px;
  margin-bottom: 2px; 
  overflow: hidden;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 21px;
  white-space: nowrap;
}
.part .item a:hover h3 {
  text-decoration: underline;
  color: #00a8e6;
}

.part .item a p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  font-size: 12px;
  line-height: 1.5em;
  overflow: hidden;
  color: #a1a7b7;
}
.part .item a:hover p {
  color: #6c6c6c;
}
.current {
  text-decoration: underline;
  color: #00a8e6;
}

.fa-arrow-up {
  display: block;
  position: fixed;
  bottom: 100px;
  right: 75px;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 25px;
  line-height: 50px;
  background: #a3a3a3;
  text-align: center;
  box-shadow: 0 0 5px #a3a3a3;
  border-radius: 50px;
  opacity: .6;
}
  /*.fas {
    display: none;
  }*/
.back-to-top i:hover { 
  background: #333;
  transition: 0.2s;
}
