/* å¯¼èˆª å§‹ */
.daohang{
	height: 34px; line-height: 34px; background: #fff; box-shadow: 0px 2px 10px #DBDCDE;
}
.daohang .wrap{
	padding:0; width:1180px;cursor: pointer;
}
.daohang a{
	display: inline-block; /* color: #fff; */font-size: 14px;padding: 0 14px;text-align: center;position:relative;
}
.daohang a:hover{
	background: #f39f40; color: #fff; text-decoration: none;
}
.daohang .on{
	background: #f39f40;
}
 .daohang a img{
	  z-index:5;
  position:absolute;
  top: -6px;
	left: 0;
}
.daohang a:hover img{
	  display:none;
}
/* å¯¼èˆª æ­¢ */

.wrap_main{
	padding:10px 0 20px; height: auto;
}
/* ä¸»ä½“-å·¦ */
.wrap_left{
	width:890px;
}

.left_top{
	height: 478px; padding:16px 0 0 18px;
}



.nav_ggw{
	margin-top: 20px; height: 135px;
}
.nav_ggw a{
	display: inline-block; margin-right: 22px; float: left;
}
.nav_ggw .a_last{
	margin-right: 0px;
}

.cont_kemu{
	margin-top: 10px; padding-bottom: 20px;
}
.kemu_tab{
	height: 39px;border-bottom: 1px #dfdddb solid;padding-top: 0;margin-top: 10px;
}
.kemu_tab a{
	display: inline-block; text-align:center;border-bottom: none; border-top: 1px solid #dfdddb;padding:0 20px; height: 38px;border-right: 1px solid #dfdddb; background: #f7f7f7;line-height: 36px; color: #35312d; margin:0; float: left; cursor: pointer; font-size: 16px;
}
.kemu_tab a:hover{
	text-decoration: none;
}
.kemu_tab a.first_s {
	border-left: 1px solid #dfdddb;
	margin-left: 20px;
 }
.kemu_tab .sp_ex{
	color: #f18e1f;font-weight: bold;background: #fff;border-color: #dfdddb;border-top: 2px solid #f18e1f;
}
.zc_kemu_tab .sp_ex {
	color: #fff;font-weight: bold;background: #f18e1f;border-color: #dfdddb;border-top: 1px solid #f18e1f;
}
/* 2017.11.21 æ–°å¢žåˆçº§åˆ‡æ¢å›¾ç‰‡æ ·å¼æ›´æ–° zhouting å§‹ */
.kemu_tab .kemu_tab_a_ex1{
	width: 196px; text-align: left; background: url(http://files.dongao.com/static/shouye/shouye_img/cf_img1.png) no-repeat 109px center; display:block;
}
.zc_kemu_tab .sp_ex .kemu_tab_a_ex1{
	/*background: #f28e1e url(http://files.dongao.com/static/shouye/shouye_img/cf_img2.png) no-repeat 109px center;*/ color:#fff;
}
.zc_kemu_tab a{
	/*font-weight:bold;*/
}
/* 2017.11.21 æ–°å¢žåˆçº§åˆ‡æ¢å›¾ç‰‡æ ·å¼æ›´æ–° zhouting æ­¢ */

.kemu_cent{
	display: none; clear:both;
}
.kemu_map{
	width:560px; padding-bottom: 20px;
}
.kemu_map .km_zq {margin-top: 13px;}
.zc_kemu_tab{
	background-color:#ffffff;width:1178px; position:fixed;  top:0px;  margin-top: 0; _position:absolute; _top:expression(eval(document.documentElement.scrollTop)); _margin-top: 0px; z-index: 25; -webkit-transform:translateZ(0);
}

.tit1{
	padding: 15px 0 0 20px;height: 30px; line-height: 30px; font-size: 18px;clear: both; font-weight: bold;    position: relative;
}
.tit1 img, .tit1 span, .tit1 a{
	display: inline-block;
}
.tit1 img{
	margin-right: 4px; vertical-align: top;
}
.tit1 a{
	line-height:24px; color: #756f6a; font-size: 12px; margin-left: 26px; vertical-align: bottom; font-weight: normal;
}
.tit2{
	margin-left: 0;
}
.tit2 img,.tit3 img{
	margin-right: 0;
}
.title_bg,.km_nav .map_hot{background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/icon_com.png") left center no-repeat;}
.title_bg {position:absolute;left:-4px;top:22px;background-position: 0 -30px;height: 24px;width: 20px;}
.title_bg.tleft {background-position: 0 0;}
.tit3 .title_bg{top:8px;}
.map_sp1{
	display: inline-block; margin-top: 16px; line-height: 24px; font-size: 14px;
}
.map_sp1 b{background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/map_bg.png") no-repeat 0 0;height: 25px; width: 81px;display: inline-block;text-align: center;line-height: 25px;margin-right: 10px;color: #35312d;font-size: 12px;font-weight: normal;}
.map_sp1 a{
	display: inline-block; margin-right: 18px;
}
/*warp ä¸­éƒ¨ å§‹*/
.kemu_dt{
	width:798px; height: 270px; padding-bottom: 20px;
}
.nav_redian{
	height: 90px; padding-top: 16px;
}
.redian_lt{
	display: inline-block;
}
.redian_rt{
	display: inline-block; width: 375px; text-align: right; padding-left: 20px;
}
.redian_rt li{
	height:34px; line-height: 34px; text-align: right;white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.redian_rt li a{
	font-size: 14px;
	display: inline-block;
      float: left;
}
.redian_rt li a.redian_fa{
	margin-left: 6px;
}
.redian_rt li span{
	color: #756f6a;
}
.redian_rt .redian_first{
	height: 18px; line-height: 18px; padding-bottom: 4px;
}
.redian_rt .redian_first a{
	color: #cb3f1f; font-size: 16px;
}



.rmkc{
	padding:0; height: auto; 
}
.tit3{
	height: 36px; line-height: 30px; padding-top: 0px; margin-bottom:5px;
}
.tit3 img{
	margin-right: 4px;
}
.titsp{position: relative;}
.rmkc_ul{
	width: 1140px; height: auto; overflow: hidden;margin-left: 20px;
}
.rmkc_ul li{
	width: 270px; height: 220px; margin-right:20px; float: left; overflow: hidden;
}
.rmkc_ul li p{
	line-height: 29px; padding-top: 2px; font-size: 14px;padding-left: 2px;
}
.rmkc_ul li p a{
	color: #333;
}
.rmkc_ul li span{
	color: #bdb8b5;
}
.rmkc_ul li span b{
	color: #f00; font-size: 18px;  font-weight: normal;
}
.rmkc_ul .li_last{
	margin-right: 0px;
}
.cont_teach{
	height: 846px; padding:10px 19px 0 19px; position: relative;
}
.teach_tit{
	height:38px; line-height: 38px; text-align: right; border-bottom: 1px #f9993b solid;
}
.teach_tit span{
	font-size: 18px; font-weight: normal;
}
.teach_more{
	display: inline-block; color: #756f6a; margin-left: 12px; line-height: 22px; padding-top: 10px;
}
#scrollDiv{
	width:230px; height: 790px; overflow: hidden;
}
.teach_ul{
	padding-top: 4px;
}
.teach_ul li{
	width:230px; height: 156px; float: left;
}
.teach_sp1{
	display: inline-block; padding-top: 16px; *padding-top:6px;
}
.teach_sp1 img{
	border:1px #f1f1f1 solid;
}
.teach_sp1 strong{
	display:inline-block; line-height: 26px; font-size: 16px; font-weight: normal; padding-top: 5px;
}
.teach_sp1 span{
	color: #756f6a; margin-left: 10px;
}
.rxts{
	 position: relative;    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
      margin-top: 6px;
  margin-bottom: 0px;
}
.rx_scro{display:none;height:296px;}
.rx_scro.first_b{display:block;}
.rxts .tempWrap{
	margin-left: 20px;
	width: 1140px!important;
}
.rxts_ul{
	width: 1160px; height: 296px; solid; overflow: hidden; padding:0;    margin-left: 20px;
}
.rxts_ul li{
	width:268px; margin-right: 20px; float: left; text-align: center; font-size: 14px;border: 1px solid #e8e8e8;padding-top: 0;padding-bottom: 18px;height: 270px;
}
.rxts li img{width:268px;height:200px;}
.rxts_ul li.li_right{
	margin-right: 0; 
}
.rxts_p1{
	height:60px; line-height: 60px; padding:2px 0 0 23px; text-align: left; overflow: hidden;
}
.rxts_ul .rxts_p1 {
    line-height: 20px;
    padding-top: 10px;
    padding-right: 5px;
    height: 42px;
}
.rxts_p1 a:hover{
	color: #35312d;
}
.rxts_sp1{
	display: inline-block; padding: 0 0 0 20px; color: #bdb8b5; float: left;
}
.rxts_sp1 b{
	font-size: 18px; color: #f00; font-weight: normal; margin-right: 5px;
}
.rxts_sp1 s{
	color: #bdb8b5;
}
.book_pre,.book_next{
	width:8px; height: 14px; position: absolute; top:160px; cursor: pointer;
}
.book_pre{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre.png) left center no-repeat; left:6px;
}
.book_next{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next.png) left center no-repeat; right: 6px;
}
.book_pre_ex,.book_next_ex{
	width:50px; height: 50px; top:117px;
}
.book_pre_ex{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre_ex.png) left center no-repeat; left:0px;
}
.book_next_ex{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next_ex.png) left center no-repeat; right:0px;
}

.cont_zixun{
	overflow: hidden; margin-top: 20px; padding-left: 20px;padding-bottom: 25px;
}
.zixun_tit{
	padding-top: 13px; height: 58px; line-height: 58px; font-size: 18px; color: #434343; font-weight: normal; clear: both;
}
.zixun_cent{
	height: 154px; position: relative;
}
.zixun_lt{
	width:270px; height: 154px; display:inline-block; float: left; overflow: hidden;
}
.zixun_rt{
	display: inline-block; width:562px; height: 140px; border:1px #e8e8e8 solid; border-left: 0px; float: left; padding: 12px 0 0 18px;
}
.zixun_rt strong{
	height:42px; line-height: 42px; color: #434343; font-size: 16px; font-weight:normal;
}
.zixun_ul li{
	line-height: 28px; font-size: 14px;
}
.zixun_ul li a{
	color: #757575;
}
.zixun_cent a:hover{
	color: #fea751;
}
.zixun_more{
	color: #756f6a; display:inline-block; position: absolute; right:40px; bottom:20px;
}

.cont_tgl{
	height:338px; margin-top: 20px;padding-top:10px;
}
.cont_tgl .teach_tit{
	margin:0 19px;
}
.tgl_tab{
	height: 26px; line-height: 22px; padding-top: 20px; text-align: center;
}
.tgl_tab span{
	display: inline-block; height: 26px; width: 54px; text-align: center; color: #434343; margin:0 2px; cursor: pointer;
}
.tgl_tab .sp_ex{
	background: url(http://files.dongao.com/static/shouye/shouye_img/bg_sp1.png) no-repeat; color: #fea44c;
}

.cont_xyxs{
	padding:0 20px; height: 323px; margin-top: 20px; padding-top:10px;
}
.a_wyfb{
	display: inline-block; padding-left: 24px; background: url(http://files.dongao.com/static/shouye/shouye_img/img_icon6.png) no-repeat 0 center;
}
.xyxs_ct{
	height:289px; overflow: hidden; margin-top: 20px;
}
.xinsheng_ct{
	height:270px; overflow: hidden;
}
/*.kemu_cent_8 .xyxs_ct{
	height:240px;
}
.kemu_cent_8 .xinsheng_ct{
	height:240px;
}*/
.author_tit{
	line-height:24px; color:#ff8400;
}
.xxys_name{
	display: inline-block; width:95px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.xyxs_time{
	color:#999; float: right;
}
.xyxs_con2{
	line-height: 24px; color:#756f6a; padding-bottom: 18px; font-size: 14px;
}

.cont_luntan{
	height: 150px; padding:0 19px; margin-top: 20px; font-size: 14px; padding-top:10px;
}
.cont_luntan ul{
	padding-top: 15px;
}
.cont_luntan li{
	line-height: 26px;
}
.cont_luntan li a{
	color: #756f6a;
}

.cont_luntan a:hover{
	color: #f18e1e;
}

.rmbq_p1{
	padding-top: 15px; line-height: 26px;
}
.rmbq_p1 a{
	display: inline-block; margin-right: 15px; color: #756f6a;
}

.cont_guanzhu{
	height: 214px;padding-top:10px;
}
.gz_sp1{
	display: inline-block; width:91px; margin-right: 28px; font-size: 14px; text-align: center; margin-top: 18px;
}
.gz_sp1 img{
	display: inline-block; margin-bottom: 18px;
}
.gz_sp1_ex{
	margin-right: 0px;
}

.bottom{
	clear:both; background:#dadada; padding-top: 58px; min-width:1200px;
}
.bottom_sp1{
	display: inline-block; width: 125px; color: #c7c7c7; padding-left:20px; line-height: 26px; border-right:1px #c9c9c9 solid; height: 126px; float: left;
}
.bottom_sp1 h5{
	font-size: 18px; font-weight: normal; padding-bottom: 22px;color:#333;
}
.bottom a{
	display: inline-block; color: #616161;
}
.bottom a:hover{
	color: #ff8606;
}
.bottom_spf{width:115px;}
.bottom_sp2{
	width: 253px; padding-right: 15px;    border-right: 0;
}
.bottom_sp2 a{
	margin-right: 5px;
}
.bottom_sp3{
	padding-left: 0; width:300px; border-right:0px;
}
.bottom_sp3 img{
	margin-top: 5px;
}
.bottom_div1{
	clear: both; border-bottom: 1px #c2c2c2 dashed;
}
.bottom_div1 .wrap{
	line-height: 21px; padding:43px 10px 30px 20px; color: #616161; width:1150px;
}
.bottom_div1 a{
	display:inline-block; margin-right: 12px;
}

.index_foot{
	padding:15px 0 35px 0; text-align: center;
}
.foot_p1{
	color: #999595;
}
.foot_p1 span{
	display: inline-block; padding:0 3px 0 2px;
}
.foot_p2{
	color: #505050; line-height: 26px;
}
.foot_p2 a{
	color: #999; margin-right: 8px;
}
.foot_p2 span{
	margin-right: 8px;color: #999;
}
.foot_p2 .a_last{
	margin-right: 0px;
}
.foot_p3{
	height:44px; padding-top: 24px;
}
.foot_p3 a{
	display: inline-block; vertical-align: middle; margin:0 10px;
}


/* å³ä¾§è·Ÿéš å§‹ */
.fixed_menu{
	width: 40px; padding:0; position:fixed; top: 216px; right:10px; z-index: 2; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:70px;
}
.fixed_menu a{
	display: block; font-size:14px; text-align: center; color:#fff; height:40px; line-height: 40px; margin-bottom:1px; position: relative;
}
.fixed_menu .menu_aft{
	display: inline-block; width:40px; background: #ff8606;
}
.fixed_menu .fixed_cent{
	position: absolute; top:0px; right:40px; display: none;
}
.sp_phone{
	width:112px; background: #ff8606;
}
.fixed_menu .fixed_erweima{
	right:44px;
}

/* å³ä¾§è·Ÿéš æ­¢ */





.preNext,.preNext{
	width:48px; height: 40px; background: url(http://files.dongao.com/static/shouye/shouye_img/lb_pre1.png) no-repeat;
}
.rmkc_ul li {
	height: 175px;
}
.rmkc_ul li span {
	display: none;
}
.tit1.tit3{
	margin-bottom:10px;
}
.daohang .bg_orange:hover{
	background: #FD890D;
}
.daohang .bg_blue:hover{
	background:#0949d1
}
.daohang .bg_black2:hover{
	background: #211f1f;
}
.daohang .bg_black1:hover{
	background: #ca9221;
}
.daohang .bg_red:hover{
	background:#e33b29;
}
.daohang .bg_coffe:hover{
	background:#b36537;
}
.daohang .bg_red2:hover{
	background:#ab4145;
}
.daohang .bg_pur:hover{
	background:#714d89;
}
.daohang .bg_blue2:hover{
	background:#4367b5;
}
.daohang .bg_green:hover{
	background:#17a3a3;
}
.daohang .bg_grey:hover{
	background:#000000;
}
.daohang .bg_grey2:hover{
	background:#191818;
}
.daohang .bg_green2:hover{
	background:#0A9C8F;
}
.showdow_ie{
	display:none;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#e0e0e0', Direction=135, Strength=5);
	background-color: #e0e0e0;
	height:1px;
}
.daohang,.head_bar{
	min-width:1200px;
}
/*é¡µé¢é‡æž„2016\10\10*/
/* banner å§‹ */
.banner{
	width:853px; height: 300px; overflow: hidden; position: relative;
}
.banner ul{
	width: 854px; height: 250px;
}
.banner_ul li{
	width:854px;height: 250px;
}
.banner .num{
	width:854px; height: 9px; position: absolute; bottom:17px; left: 0px; text-align: center;
}
.banner .num span{
	display: inline-block; width: 9px; height: 9px; background: url(http://files.dongao.com/static/shouye/shouye_img/banner_bar.png) no-repeat; margin:0 5px 0 6px; cursor: pointer;
}
.banner .num span.on{
	background: url(http://files.dongao.com/static/shouye/shouye_img/banner_bar_on.png) no-repeat;
}
/* 2018.6.28 之前的换图点击样式
.banner .prev,.banner .next{
	width: 40px; height: 34px; position: absolute; top: 110px;
}
.banner .prev{
	left: 0px; background: url(http://files.dongao.com/static/shouye/shouye_img/banner_pre.png) no-repeat;
}
.banner .prev:hover{
	background: url(http://files.dongao.com/static/shouye/shouye_img/banner_pre_ex.png) no-repeat;
}
.banner .next{
	right: 0px; background: url(http://files.dongao.com/static/shouye/shouye_img/banner_next.png) no-repeat;
}
.banner .next:hover{
	right: 0px; background: url(http://files.dongao.com/static/shouye/shouye_img/banner_next_ex.png) no-repeat;
}*/
/*2018.6.28 wyx 新换图点击样式*/
.banner .next{right: 0px;background: url("http://files.dongao.com/static/common/channel/images/change_icons.png") no-repeat;background-position: -101px 0;}
.banner .prev{left: 0px;background: url("http://files.dongao.com/static/common/channel/images/change_icons.png") no-repeat;background-position: -48px 0;}
.banner .next:hover{background-position: -152px -1px;}
.banner .prev:hover{background-position: 0px -1px;}
.banner .prev, .banner .next{width: 37px;height: 50px;position: absolute;top: 110px;}
/* banner æ­¢ */
/*warp ä¸Šéƒ¨*/
.wrap_top{ height: 491px;padding: 20px 0 0 20px;}
.wrap_top_top{height: 250px;margin-bottom: 16px;width: 1140px;}
.top_left{width: 854px;margin-right: 17px;height: 250px;}
.top_right{width: 269px;height: 202px;}
.top_right li{height: 98px;margin-bottom: 3px;}
.top_right .toutiao_li{height:32px;line-height:32px;font-size: 14px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#333;}
.toutiao_li .toutiao_subtitle{color:#000;/*font-weight:bold;*/}
.toutiao_icon{margin-bottom:12px;}
.wrap_top_bottom{overflow:hidden;width: 100%; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;user-select:none;}

.teacher_title{position:relative;height: 26px; background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/teacher_tit_01.png") left center no-repeat;padding-left: 165px;margin-bottom: 17px;background-position: 0 0;}
.teacher_title b{height: 26px;line-height: 26px;font-size: 14px;font-weight: bold;cursor: pointer;}
.teacher_title_text{position: absolute;display: block; width: 56px;height: 25px;line-height: 25px;top: 0;left: 70px;color: #ea365c;font-weight: bold;}
.title1{
	// margin-right: 20px;
}
.teacher_title a{color: #6d6660;}
.teacher_title a.shouye_zbtip{color: #000; font-weight:normal;}
.teacher_title a:hover{color: #f18e1e;text-decoration: none;}
.teacher_title em{color:#eb395c;font-family: Microsoft YaHei; }
.dec_line{margin: 0 36px;}
a.teacher_channel{color:#eb395c;font-weight: bold;font-size: 14px;position: absolute;right: 20px;top:-27px;}
a.teacher_channel:hover{color:#da0d36;text-decoration: none;}
.teacher_title .zhibo_more{
	display: inline-block; float: right; margin-right: 25px; margin-top: 3px;
}

/*ç‹¬å®¶åå¸ˆ å§‹*/
.teacher_list{ position: relative;}
.teacher_list .teacher_more{float:left;height:162px;width:40px;background:url("http://files.dongao.com/static/shouye/shouye_img/new_pic/teacher_tit_01.png?v=1.3") left top no-repeat;background-position: -60px -30px;cursor: pointer;}
.teacher_list .teacher_more:hover{background-position: 0 -30px;}
.teacher_ul{    position: relative;height: 162px;overflow: hidden;width: 1098px;float: left;margin-left: 24px;}
.teacher_ul li{float: left; margin-right: 20px;position: relative; width:250px;}
.teacher_ul li.last_li{margin-right: 0;}
.teacher_ul li a{display:block;}
.teacher_ul li a:hover{text-decoration: none;}
.teacher_ul li span{display:block;width:238px;padding-left: 10px;height: 32px;line-height: 32px; border: 1px #f0f0f0 solid;border-top: none;color:#35312d;font-size: 14px;cursor: pointer;}
.teacher_ul .ms_listen{float: right;width: 17px;height: 17px;background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/icon_com.png) no-repeat;background-position: 0 -90px;margin-top: 10px;margin-right: 10px;}
.teacher_ul dl{color: #ffffff;position: absolute;bottom:0;left:0;width: 228px;height: 80px;background-color: #ea5c36;opacity: 0.96;filter: alpha(opacity=96); padding: 7px 10px;}
.teacher_ul dl dt{font-size: 14px;font-weight: bold;}
.teacher_ul dl dd{line-height: 20px;}
.teacher_pre,.teacher_next{
	width:8px; height: 14px; position: absolute; top:72px; cursor: pointer;
}
.teacher_pre{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre.png) left center no-repeat; left:46px;
}
.teacher_next{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next.png) left center no-repeat; right: 16px;
}
.teacher_pre_ex,.teacher_next_ex{
	width:50px; height: 50px; top:52px;
}
.teacher_pre_ex{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre_ex.png) left center no-repeat; left:40px;
}
.teacher_next_ex{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next_ex.png) left center no-repeat; right: 0px;
}
.teacher_ul li.pic_hide{display:none;}
.teacher_ul li a dl.ms_modal{
	transition: top .5s;
	  top:162px;
	  display: block;
   color: #666;
	  background:#fff;
	  border:1px solid #f0f0f0;
	}
	.teacher_ul li a:hover{zoom:1}
	.teacher_ul li a:hover dl.ms_modal{
	 z-index:2;
	  top:62px; 
	}
	.teacher_pre {
	_left: -10px;
} .teacher_pre_ex {
	_left: 0px;
}
	.teacher_ul li a:hover .ms_name{
	  opacity: 0;
	filter: alpha(opacity=0);
	}
	.teacher_container{
		float: left;
  width: 1084px;

	}
	.rxts_box {
    margin-right: 20px;
    margin-left: 20px;
}
/*wrapåº•éƒ¨ å§‹*/
.wrap_bottom_left{width: 890px;}
.zc_left_bottom{width: 888px;height: 165px;margin-top: 20px;padding: 32px 0 30px 0;color: #35312d;}
.wrap_bottom_right{width: 270px;}
/*ç¬¬ä¸€æ¬¡è¿›å…¥é¡µé¢*/
.zc_left_bottom ul li{float: left;width: 148px;text-align: center;}
.zc_left_bottom ul li a{display: inline-block;}
.zc_left_bottom ul li.li_last{margin-right:0;}
.zc_left_bottom h3{font-size: 18px;margin-bottom: 25px;padding-left: 29px;}
.zc_left_bottom li span{font-size: 14px;margin-top: 13px;display: inline-block;}
.zc_left_bottom ul li a:hover{color: #FD890D;}

.rxts_ul li a:hover,.rmkc_ul a:hover{color: #f18e1e; text-decoration:underline;}
a.book_right_ad {float: right;margin-right: 50px;margin-top: 8px; font-size: 14px;font-weight: bold;cursor: pointer;}
a.book_right_ad em {color: #da0d36;font-family: Microsoft YaHei;}
/*ä¸œå¥¥å“ç‰Œä¼˜åŠ¿*/
/*æ³¨ä¼šè¯¾ç¨‹åˆ‡æ¢*/
 .tit1 a.zk_type{font-size:14px;}
	.tit1 a.zk_type:hover{ cursor: pointer;text-decoration: none;}
	.tit1 .zk_type.zk_t1{margin-left:20px;}
	.tit1 .zk_type.zk_tsep{margin-left:10px; font-size:14px;   line-height: 24px; color: #756f6a; vertical-align: bottom;font-weight: normal;}
	 .tit1 .zk_type.zk_t2{    margin-left: 10px;margin-right: 32px;}
		.rmkc_ul li.zkc_hide{display:none;}
.tit1 .zk_orange{color:#f18e1e;}
.tit1 .zk_type.zk_t3 {margin-left: 5px;}
/*æ³¨ä¼šè¯¾ç¨‹åˆ‡æ¢*/
/*å…¶ä»–é¢‘é“å¹¿å‘Š*/
 .zixun_rt strong a,.zixun_ul li a{
	  display:inline-block;
	}
.zixun_ul li span, .zixun_rt strong span{
  display:inline-block;
  float:right;
  margin-right:30px;
  font-size:14px;
  color:#757575;
}
/*å…¶ä»–é¢‘é“å¹¿å‘Š*/

.rxts_ul {
	border: none;
}

.teacher_list .tempWrap {
	width: 1060px !important;
	_height: 155px;
	margin-left: 24px;
}

.teacher_ul li a img {
	width: 250px;
	height: 128px;
}  
.kemu_dt {
	width: 580px;
	height: 546px;
	padding-bottom: 0;
	padding-right: 20px;
}
.kemu_cento .kemu_dt {
    height: 408px;
}
.redian_rt {
	display: block;
	width: 540px;
}

.redian_rt li {
	text-align: left;
}
.mar30 {
	margin-top: 20px;
}

.redian_rt .redian_first a.fr {
}

.redian_rt a.fr {
	font-size: 12px;
      float: right;
  color: #756f6a;
}
  .kemu_map {
			width: 560px;
		}
		.kemu_map .km_nav {
			margin-top: 13px;
		}
		.kemu_map .km_nav a {
			width: 74px;
			height: 24px;
			line-height: 24px;
			border: 1px solid #c3bfbc;
			display: block;
			float: left;
			text-align: center;
			font-size: 14px;
			position: relative;
			margin: 6px 0;
			margin-right: 20px;
		}
		.kemu_map .km_nav .map_hot{
		position: absolute;
		width: 10px;height: 10px;
		background-position: 0 -80px;
		left: -1px;
  top: -1px;
		}
		.kemu_map .km_nav a:hover {
			text-decoration: none;
		}
		.kemu_map .km_nav .margr0 {
			margin-right: 0;
		}
		.km_teacher {
			margin-top: 8px;
		}
		.km_listen {
			margin-top: 20px;
		}
		.km_teacher .redian_rt {
			padding-left: 0;
		}
		.km_listen .zkc_li_first {
			margin-right: 20px;
		}
		.km_listen li p {
			line-height: 29px;
			padding-top: 2px;
			font-size: 14px;
            width: 270px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
		}
		.exam_nav {
			width: 580px;
			float:left;
			padding-right: 20px;
		}
		.exam_nav .epic {
			margin-left: 20px;
			margin-top: 20px;
		}
		.pic_text_zixun {
			margin-top: 20px;
			margin-bottom: 10px;
		}
		.ptz_first {
			margin-left: 20px;
			
		}
		.ptz_first .ptz_pic {
			float: left;
			font-size: 14px;
			border: 1px #dfdddb solid;
		}
		.ptz_first .ptz_detail a {
			font-size: 14px;
		}
		.ptz_detail .ptzd_p a {
  			font-size: 12px;
		}
		.ptz_first .ptz_detail {
			float: left;
			font-size: 12px;
			width: 302px;
			margin-left: 8px;
		}
		.ptz_detail .ptzd_p {
			margin-top: 10px;
		}
		.ptz_first .ptzd_time {
			text-align: right;
		}
		.student_voice{
			width:560px;
			float:left;
		}
		.student_voice .ptz_first{
			margin-left: 0;
		}
		.student_voice .redian_rt{
			padding-left: 0;
		}
		.pic_text_zixun .redian_rt{
          margin-top:10px;
        }
		.redian_rt li .fr:hover{
  			color:#35312d;text-decoration: none;
		}
    .redian_rt li.redian_first .fr:hover{
  			color:#cb3f1f;text-decoration: none;
		}
		.xinsheng_ct .list{
			height: 230px;
  	padding: 0 10px 10px 0;
		}
		.tab_ad{
			padding-left: 20px;
		}
		.jijiao_area{
			background:#fff;
			margin-top:10px;
			padding-bottom: 10px;
  			border-radius: 2px;
		}
		.jijiao_area .jijiao_cont2{
			width:580px;
			float: left;
		}
		.jijiao_cont2 .ptz_first{
			margin-left: 0;
		}
		.jijiao_cont2 .redian_rt{
			padding-left: 0;
		}
			.jijiao_area .jijiao_cont{
			width:580px;
			float: left;
			padding-right: 20px
		}
		.nextStop,.prevStop{display: none;}
		.sider_pre,.sider_next{width: 8px;
    height: 14px;
    position: absolute;
    top: 165px;
    cursor: pointer;}
  .sider_pre{background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre.png) left center no-repeat;
    left: 6px;}
  .sider_next{background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next.png) left center no-repeat;
    right: 7px;}
	.app {background: #fff;margin-top: 10px;    padding-top: 15px;padding-right: 20px;position: relative;border-radius: 2px;}
 .app .tempWrap{width:1140px!important;margin-left: 20px;}
 .app .app_ul{overflow: hidden;height: 246px;margin-left: 20px;}
	.app li{width:228px;margin-right: 20px;float: left;border:1px solid #dfdddb;padding: 20px;margin-bottom: 20px;}
	.app .app_icon,.app .app_title{display: block;height: 40px;line-height: 40px;float: left;}
	.app .app_title{margin-left: 10px;font-size: 16px;}
	.app .app_text{margin-top: 15px;font-size: 14px;color:#69635f;line-height: 30px;}
	.app .app_btn{margin-top:10px;display: inline-block;width: 87px;height: 28px;line-height:28px;border: 1px solid #69635f;text-align: center;font-size: 14px;text-decoration: none;cursor: pointer;}
	.app .app_btn:hover{border: 1px solid #fc7e23;}
 .rmkc_container{position: relative;display: none;}
 .rmkc_container.show{display: block;}
 .kc_pre,.kc_next{top:50px;}
 .rmkc_container .tempWrap{margin-left: 20px;width: 1140px!important;}
.fixed_menu .menu_aft,.fixed_menu b{background:url(http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png) no-repeat; }
.fixed_menu .menu_aft1{background-position: 3px 0;}
 .fixed_menu .menu_aft2{background-position: 3px -90px;margin: 8px 0 0;}
	.fixed_menu .menu_aft3{background-position: 3px -135px;margin:8px 0 0;}
.fixed_menu .menu_aft_phone{background-position: 3px -45px;margin:8px 0 0;}
	.fixed_menu{    background: #fff;border-radius: 2px;    padding: 20px 8px 12px 8px;    border: 1px solid #eee; }
	.fixed_menu a.menu_aft1:hover{
	background-position: -42px 0px;
}
	.fixed_menu a.menu_aft2:hover{
background-position: -42px -90px;
}
	.fixed_menu a.menu_aft3:hover{
background-position: -42px -135px;
}
.baby_eyes{
	position: absolute;
	z-index: 9;
	width: 72px;
	height: 78px;
	background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png") no-repeat -135px 0;
	top: -68px;
	left: -7px;
}
.baby_eyes.eye_down{
	background-position: -135px -85px;
}
.fixed_menu a.menu_aft_phone:hover{
	background-position: -42px -45px;
}
.fixed_menu p.menu_aftphone{
	background:#fff;
	position: absolute;
	height: 35px;
	width: 260px;
	right: 52px;
	border: 1px solid #ff8606;
	background: #fff;
}
.fixed_menu p.menu_aftphone .aftPhone{
	display: block;
	width: 250px;
	height: 26px;
	background: url("http://files.dongao.com/static/shouye/shouye_img/new_pic/right_icons_01.png") no-repeat 6px -175px;
	margin-top: 3px;
}
.fixed_menu a.menu_aft p{
  display: none;
  -webkit-box-shadow: 0 0 10px #878686;
  -moz-box-shadow: 0 0 10px #878686;
  box-shadow: 0 0 10px #878686;
}
.fixed_menu a.menu_aft b{
  display: none;
}
.fixed_menu a.menu_aft:hover p{
	border-radius: 5px;
}
.fixed_menu a.menu_aft:hover p,.fixed_menu a.menu_aft:hover b{
		display: block;
}
.fixed_menu .menu_aft_l2{
        position: absolute;
    height: 150px;
    width: 138px;
    right: 52px;
    border: 1px solid #ff8606;
    background: #fff;
    color: #ff8606;
    padding-top: 10px;
}
.fixed_menu .menu_aft_l1,.fixed_menu .menu_aft_l3{
       position: absolute;
    height: 35px;
    width: 88px;
    right: 52px;
    border: 1px solid #ff8606;
    top: 1px;
    background: #fff;
    color: #ff8606;
    line-height: 35px;
}
.fixed_menu b{
	 position: absolute;
      height: 32px;
      width: 23px;
      right: 32px;
  background-position: -88px 13px;
  z-index: 10;
}
.sider_pre:hover{
background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre_ex.png) left center no-repeat;top:150px; left:0;height:50px;width:50px;
}
.sider_next:hover{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next_ex.png) left center no-repeat;top:150px; right: 0px;height:50px;width:50px;
}
.rmkc .sider_pre:hover{
background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_pre_ex.png) left center no-repeat;top:32px; left:0;height:50px;width:50px;
}
.rmkc .sider_next:hover{
	background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teach_next_ex.png) left center no-repeat;top:32px; right: 0px;height:50px;width:50px;
}
/*.banner_christmas{
	height: 158px; text-align: center; background: url(http://files.dongao.com/static/shouye/shouye_img/christmas/newyear_banner.png) no-repeat center 0;
}*/
.banner_christmas a{
	display: block; height: 158px; background: rgba(255,255,255,0);
}
.christmas_body{
	background: #f2b17c url(http://files.dongao.com/static/shouye/shouye_img/christmas/newyear_bg1.png) no-repeat center 258px;
}
.christmas_main{
	 background: url(http://files.dongao.com/static/shouye/shouye_img/christmas/newyear_bg2.png) no-repeat center bottom;
}
.christmas_body .daohang{
	box-shadow: 0 0 0;
}
.christmas_body .head_bar{
	padding-top: 11px;
}
.christmas_body .fixed_menu{
	top:301px;
}
.christmas_body .wrap_main{
	padding-bottom: 20px;
}
/*æ–°å¹´çš®è‚¤*/
.christmas_main {
    background: url(http://files.dongao.com/static/shouye/shouye_img/christmas/christmas_bg2_2.png) no-repeat center bottom;
}
.banner_christmas{
	height: 116px; text-align: center; overflow: hidden;
}
.banner_christmas a{
	display: block; height: 172px; background: rgba(255,255,255,0);
}
.christmas_body{
	background: #e3e0e5 url(http://files.dongao.com/static/shouye/shouye_img/christmas/christmas_bg0_2.jpg) no-repeat center 0;
}
    .christmas_body .head_bar,.christmas_body .daohang{
	background: none;
}
.christmas_body .daohang a{
	color: #fff;
}
.christmas_body .head_login li.mr_1 a{
	color: #fff;
}
.christmas_body .head_login li a{
	height: 29px; line-height: 29px;width:60px;
}
.christmas_body .head_bar a,.christmas_body .head_other em{
	color: #fff;
}
.christmas_body .head_other ul a{
	color: #333;
}
.christmas_body .a_nav{
	background-image: url(http://files.dongao.com/static/shouye/shouye_img/christmas/arrow_ico_cr.png);
}
.christmas_body .head_other li.active .a_nav{
	background-image: url(http://files.dongao.com/static/shouye/shouye_img/christmas/arrow_ico_active_cr.png);
}
.christmas_body .a_logo{
	margin-left: 12px; margin-right: 22px;
}
.christmas_body .other_a1{
	padding-right: 0px; padding-left: 17px;
}
.christmas_body .head_bar{
	padding-top: 3px;
}
.christmas_body .a_logo img {
    width: 141px;
    height: 41px;
}
.christmas_body .other_a1{
	padding-right: 0px; padding-left: 17px;
}
.christmas_body .head_bar .wrap{
	padding-right: 19px;
}
.daohang img{
	display: inline-block; vertical-align: middle;
}
.daohang a {
  padding: 0 8px;
}
.daohang .cma_blue:hover{
  background:#03396a;
}
.leter_space{
  letter-spacing:2px;
}
.km_teacher .redian_rt, .km_zq .redian_rt  {
  padding-left: 0;
}
.prev_banner{background:#fff;    box-shadow: 0px 2px 10px #DBDCDE; height:50px;}
.prev_wrap{width:1176px; margin:0 auto;}
.prev_pic1{ display:block;width:47px; height:40px;}
.fl{float:left;}
.prev_ul{width:685px;}
.prev_ul li{float:left; line-height:20px;width:120px;}
.prev_ul li a{padding-left:15px; color:#333; font-size:14px; cursor:pointer;position:relative;    text-decoration: none;}
.prev_ul li a:hover{    font-weight: bold;color: #ff8503;}
.shu{float:right; line-height:20px; color:#DBDBDB;}
.prev_pic2{ display:block;width:47px; height:40px;}
.prev_dd{ margin-left:18px;width:64px;}
.prev_dd p{ line-height:20px; font-size:14px; color:#333;}
.prev_dd p a{display:block;position:relative; text-decoration: none;}
.prev_dd p a:hover{    font-weight: bold;color: #ff8503;}
.prev_dl{margin-right:28px;width: 129px;}
.prev_dl.prev_dl_last{margin-right:0;}
.prev_wei{position:relative; cursor:pointer;}
.prev_wei a:hover{color:#FF8503; font-weight:bold;text-decoration:none;}
.prev_span.hide{display:none;}
.prev_span{display:block; position:absolute;width:176px; height:180px; background:url(http://files.dongao.com/static/shouye/shouye_img/shouye_nav/shouye_header_nav_weixin.png) no-repeat; top:19px; right:-59px;z-index:99;}
.prev_weiimg{display:block;margin: 25px 0 0 31px;}
.hot{position:absolute; display:block; width:14px; height:16px; background:url(http://files.dongao.com/static/shouye/shouye_img/shouye_nav/shouye_header_nav_hot.png) no-repeat;top:-10px;right:-12px;}
.prev_ul .new {position: absolute;display: block;width: 16px;height: 7px;background: url(http://files.dongao.com/static/shouye/shouye_img/shouye_nav/shouye_header_nav_new.png) no-repeat;top: -2px;right: -16px;}
.prev_ul li.wid1{width:108px;}
.prev_ul li.wid2{width:123px;}
.prev_ul li.wid3{width:123px;}
.prev_ul li.wid4{width:105px;}
.prev_ul li.wid5{width:90px;}
.prev_ul li.wid6{width:100px;}
.kemu_tab a{padding:0 15px;}
.att_book_lesson .rxts .tempWrap{width:870px!important;}
.att_book_lesson .rmkc_ul  li{padding-bottom: 18px;height: 270px;}
.att_book_lesson .rmkc_ul li span{display: inline-block;}
.att_book_lesson .rmkc_ul li img{width:268px;}
.att_book_lesson .rxts {float:left;width:888px;margin-top:0;}
.att_book_lesson .rmkc_container{width:290px;}
.att_book_lesson .rmkc_container {float:left;}
.att_book_lesson .rmkc_ul li p{padding-left:23px;}
/*æ–°å¹´çš®è‚¤*/
/*ä¿®æ”¹çƒ­é—¨è¯¾ç¨‹æ·»åŠ çš„æ ·å¼*/

 /*æ³¨ä¼šä¸Žä¸­çº§çš„æ ·å¼å¼€å§‹*/
    .rmkc-con{width:100%;/*height:260px;*/background:#f4f8fb;border-top:2px solid #ff6600;display: block;text-decoration: none;}
	.wuyou .wuy_color{background: #eff3f5;width: 204px;padding: 35px 28px 23px;height: 167px;border-top: none;margin: 0;}
    .rmkc_ul .rmkc-con:hover{text-decoration: none; }
    .rmkc-con .rmkc-link{display: block;position: absolute;width:100%;height:100%;top:0px;left:0px;}
    .rmkc-con .rmkc-con-desc,.rmkc-con-zj .rmkc-con-desc{width: 100%; height: 152px; border-bottom:1px solid #d3d7da; box-sizing: border-box; padding:18px 0 0 0; font-size: 16px; }
    /*æ³¨ä¼šç»¼åˆçš„æ ·å¼å¼€å§‹*/
    .rmkc-con-zkzh{/*height:225px; */}
    .rmkc-con-zkzh .rmkc-con-desc{height:131px;}
    .rmkc-con-zkzh .rmkc-con-data .rmkc-data-div{height:44px; margin:24px auto 20px auto;}
    .rmkc-con-zkzh .rmkc-data-div .rmkc-pri-only{line-height: 44px; }
    .rmkc-con-zkzh .rmkc-con-desc .rmkc-chose{font-size: 15px; }
    .rmkc-con-zkzh .rmkc-price{font-weight: bold;}
    /*æ³¨ä¼šç»¼åˆçš„æ ·å¼ç»“æŸ*/
.rmkc-con .rmkc-con-desc p,.rmkc-con-zj .rmkc-con-desc p{margin:0 0 6px 0; text-align: center; font-size: 15px; padding:0px; line-height: 24px;color:#000;}
.rmkc-con-desc .rmkc-tit1{color:#000; font-size: 14px; }
.rmkc-con-desc .rmkc-tit2{color:#000; font-size: 22px; font-weight: bold; }

    .rmkc-con-desc .rmkc-tit2.rmkc-disc{color:#fd6406; }
    .rmkc-con-desc .rmkc-tit3{color:#000; font-size: 15px; }
    .rmkc-con-desc .rmkc-tit{color:#ff0307; display: inline-block; }
    .rmkc-con-desc .rmkc-chose{color:#ff0400; font-size: 16px; }
    .rmkc-con .rmkc-con-data,.rmkc-con-zj .rmkc-con-data{height:108px; width:100%; text-align: center; }
	.wuyou_con .wuyou_con_p p{font-size: 14px;color: #333;line-height: 24px;padding: 0;}
	.wuyou .rmkc-con .rmkc-con-data{height: 91px; }
    .rmkc-con-data .rmkc-data-div{width:178px; height: 60px; border:1px solid #ff6600; display: inline-block; margin:23px auto 20px auto; }
    .rmkc-data-div .rmkc-pri-only{margin:auto; text-align: center; font-size: 14px; color:#000; line-height: 60px;padding:0px; }
    .rmkc-con-data .rmkc-data-div.rmkc-pri-disc{width: 209px; }
    .rmkc-pri-only .rmkc-price,.rmkc-pri-more .rmkc-price{color:#ff0101; display: inline-block; }
    .rmkc-data-div .rmkc-pri-more{text-align: right; font-size: 14px; color:#000; line-height: 20px; margin:0 11px; padding:0px; }
    .rmkc-data-zj .rmkc-pri-more{text-align: center;}
    /*ä¸­çº§ä¸Žæ³¨ä¼šä¸ä¸€æ ·çš„åœ°æ–¹çš„æ ·å¼*/
    .rmkc-con-zj{width:100%; /*height:260px;*/ background:#f4f8fb; border-top:2px solid #9966cb; display: block;}
    .rmkc_ul .rmkc-con-zj:hover{text-decoration: none; }
    .rmkc-con-zj .rmkc-link{ display: block;position: absolute;width:100%;height:100%;top:0px;left:0px;}
    .rmkc-con-data .rmkc-data-zj{border-color:#a675d0;width:160px; }
    .rmkc-con-zj .rmkc-tit2.rmkc-disc{color:#9968d5; }
    /*ä¸­çº§ä¸Žæ³¨ä¼šä¸ä¸€æ ·çš„åœ°æ–¹çš„æ ·å¼ç»“æŸ*/
    /*æ³¨ä¼šä¸Žä¸­çº§çš„æ ·å¼ç»“æŸ*/
    /*åˆçº§ä¼šè®¡èŒç§°çš„æ ·å¼å¼€å§‹*/
    .chuji-rmkcc{width:100%; border-top: 2px solid #648ad5; background: #f4f8fb;display: block;text-decoration: none; }
    .chuiji_rmkc .chuji-rmkcc:hover{text-decoration: none; }
    .chuji-rmkcc .rmkc-link{ display: block;position: absolute;width:100%;height:100%;top:0px;left:0px;}
    .cjrmkc-con-desc{height:92px; border-bottom:1px solid #e3eaf2; box-sizing: border-box; padding:15px 0 0 0; }
    .cjrmkc-con-desc p{margin:0 0 13px 0; text-align: center; line-height: 20px; }
    .cjrmkc-con-desc .cjrmkc-tit1{color:#000; font-size: 14px; }
    .cjrmkc-con-desc .cjrmkc-tit2{color:#000; font-size: 22px; font-weight: bold; }
    .cjrmkc-con-data{width:100%; font-size: 14px; color:#000; text-align: center; line-height: 58px; height:58px; }
		.chuiji_rmkc2 .cjrmkc-con-data{height: 60px;}
    .cjrmkc-con-data .cjrmkc-price{color: #ff0000;}
    .chuji-rmkcc .cjrmkc-con-disc{height:258px; border-bottom:1px solid #e3eaf2; box-sizing: border-box; padding:15px 0 0 0; }
    .cjrmkc-con-disc p{margin:0 0 13px 0; text-align: center; } 
    .cjrmkc-con-disc .cjrmkc-tit1{color:#000; font-size: 14px; }
     .cjrmkc-con-disc .cjrmkc-tit2{color:#578ad9; font-size: 21px; font-weight: bold; display: inline-block; margin:0 0 32px 0; } 
.cjrmkc-con-disc .cjrmkc-choose{color:#ff0000;font-size: 16px;}
    .cjrmkc-con-disc .cjrmkc-tit4{color:#000;font-size: 14px;}
    .cjrmkc-con-data p{line-height: 20px; padding:8px 0 0 0;}
    .cjrmkc-con-data .cjrmkc-date{font-size: 12px;}
    .rmkc-con-zj .rmkc-con-desc span,.rmkc-con .rmkc-con-desc span,.chuji-rmkcc .cjrmkc-con-desc span{ display:inline; }
    /*åˆçº§ä¼šè®¡èŒç§°çš„æ ·å¼ç»“æŸ*/


/*ä¿®æ”¹çƒ­é—¨è¯¾ç¨‹æ·»åŠ çš„æ ·å¼ç»“æŸ*/
/*频道页新增切换按键 2018.6.27 wyxslidebar .slidebar span 被更改*/
 .banner .num{background: RGBA(0,0,0,0.15);height: 20px;padding: 0 18px;border-radius: 10px;display: inline-block;width: auto;left: auto;right: auto;position: relative;bottom: 0px;}
.banner .num span{margin-top: 5px;}
/*注会修改*/
.rmkc_container2 .wuyou_add li{width: 270px; height: 220px; margin-right:0; float: left; overflow: hidden;}
.rmkc-con-wuy{border-right: 1px solid #e8ecee;display: block;text-decoration: none;}
.rmkc_ul .rmkc-con-wuy:hover{text-decoration: none; }
.rmkc-con-wuy .rmkc-link{display: block;position: absolute;width:100%;height:100%;top:0px;left:0px;}
.rmkc-con-wuy .rmkc-con-desc,.rmkc-con-zj .rmkc-con-desc{width: 100%; height: 152px; border-bottom:1px solid #d3d7da; box-sizing: border-box; padding:18px 0 0 0; font-size: 16px; }
.rmkc-con-zkzh-wuy{width: 167px;height: 183px;padding: 0 24px 0 24px;margin: 30px 0 12px 0;}
.rmkc-con-zkzh-wuy .rmkc-con-desc{height:70px;padding: 0;}
.rmkc-con-zkzh-wuy .rmkc-con-data .rmkc-data-div{width: 184px;height:66px;margin: 20px auto 0;padding-top: 9px;}
.rmkc-con-zkzh-wuy .rmkc-data-div .rmkc-pri-only{line-height:20px; }
.rmkc-con-zkzh-wuy .rmkc-con-desc .rmkc-chose{font-size: 15px; }
.rmkc-con-zkzh-wuy .rmkc-price{font-weight: bold;font-size: 14px;padding-left: 24px; }

.rmkc-con-wuy .rmkc-con-desc p,.rmkc-con-zj .rmkc-con-desc p{margin:0 0 6px 0; text-align: center; font-size: 15px; padding:0px; line-height: 24px;color:#000;}
.wuyou .rmkc-con-wuy .rmkc-con-desc p.wuyou_p1{font-size: 14px;color: #333;line-height: 14px;margin-bottom: 8px;letter-spacing: -1px;}
.wuyou .rmkc-con-wuy .rmkc-con-desc p.wuyou_p2{margin-bottom: 22px;font-size: 26px;color: #000;font-weight: bold;line-height: 26px;letter-spacing: 2px;position: relative;}
.wuyou .rmkc-con-wuy .rmkc-con-desc p.wuyou_p2:after{content: " ";display: inline;border: 12px solid transparent;border-right-color: #d3d7da;position: absolute;top: 45px;left: 210px;}
.wuyou_con .wuyou_con_p p{font-size: 14px;color: #333;line-height: 24px;padding: 0;    text-align: center;}
.wuyou .rmkc-con-wuy .rmkc-con-data{height: 97px; }
.rmkc-con-desc .wuyou_sp1{display: inline-block;
	color: rgb(51, 51, 51);
	font-size: 18px;}
.rmkc-con-desc .wuyou_sp2{display: inline;
	color: rgb(102, 102, 102);
	font-size: 14px;}
/*wyx 2018.9.7 add  中级课程 rmkc*/
.zj_rmkc .rmkc_ul li{position: relative;margin-right: 20px;width: 265px;border-radius: 5px;border: 1px solid #e6e6e6;height: auto;margin-bottom: 44px;}
.zj_rmkc .rmkc_ul li:hover{box-shadow: 0 4px 20px RGBA(0,0,0,0.3);box-shadow: 5px 6px 19px RGBA(0,0,0,0.3);}
.zj_rmkc .rmkc_ul li.last{margin-right: 0;}
.rmkc-con-zj{background: #ffffff;height: auto;}
.rmkc-con-zj .rmkc-con-desc{padding-top: 30px;padding-left: 15px;height: auto}
.rmkc-con-zj .rmkc-con-desc p{text-align: left;font-size: 17px;color: #756f6a;}
.rmkc-con-zj .rmkc-con-desc .red_col{color: #d94a5f;font-style: normal;}
.rmkc-con-zj .rmkc-con-desc .rmkc-tit1{color: #202124;font-size: 22px;font-weight: bold;padding-left: 6px}
.rmkc-con-zj .rmkc-datail{height: 90px;margin-top: 20px;padding-left: 5px;}
.rmkc-con-zj .rmkc-datail span{color:#202124;font-size: 15px;line-height: 15px}
.rmkc-con-zj .rmkc-datail b{font-size: 15px;color: #000000;margin: 0 4px;line-height: 15px;}
.rmkc-con-zj .rmkc-datail i{display: inline-block;width: 20px;}
.rmkc-con-zj .rmkc-datail .nof{margin-top: 15px}
.rmkc-con-zj .teacher_head img{float: left;margin-right: 10px;}
.rmkc-con-zj .teacher_head span{margin-top: 10px;color: #666666;font-size: 12px;display: inline-block;margin-bottom: 15px;}
.rmkc-con-zj .rmkc_bottom{line-height: 58px;background: #f9f8f8;border-top:1px solid #e6e6e6;padding-left: 20px;height: 58px}
.rmkc-con-zj .rmkc_bottom span{color: #202124;font-size: 16px;display: inline;position: relative;float: left;}
.rmkc-con-zj .rmkc_bottom b{color: #202124;font-size: 22px;font-weight: bold;}
.last .rmkc-con-zj .rmkc_bottom b:before{content: '';display: block;width: 1px;height: 29px;background: #adadad;position: absolute;left: 74px;top: 15px;}
.last .rmkc-con-zj b{padding-right: 8px;margin-right: 8px;}
.rmkc-con-zj .rmkc_bottom .zj_kc_bug{float: right;margin-right: 10px;background: url(http://files.dongao.com/static/shouye/shouye_img/rmkc_img/zj_bug_banner.png);width: 93px;height: 30px;color: #ffffff;font-size: 14px;text-align: center;line-height: 30px;margin-top: 10px;}
.last .rmkc-con-zj .rmkc_bottom span{line-height: 30px;}
.last .rmkc-con-zj .rmkc_bottom s{font-size: 17px;position: absolute;left: 3px;top: 22px;}
.rmkc-con-zj span.new_up{background: url(http://files.dongao.com/static/shouye/shouye_img/rmkc_img/new_up.png) no-repeat top right;position: absolute;right: 0;top: 0;width: 30px;height: 44px;display: block;text-align: left;padding-left: 27px;color: #FFF;font-size: 12px;padding-top: 3px;}
 /*zj end*/
/*20190419 teacher new*/
.wrap_top{  height: 535px;padding: 20px 0 0;}
.wrap_top_top{padding-left: 20px;}
.teacher_title{ margin-left: 20px; background: none;}
.teacher_ul li{width: 262px;margin-right:21px;}
.teacher_ul li a img{height: 134px;width: 262px}
.teacher_container{width: 100%}
.teacher_ul li span{width: 262px}
.teacher_list .tempWrap{width: 1114px !important;     margin: 0 auto; }
.teacher_list{width: 100%}
.wrap_top_bottom{overflow:hidden }
.teacher_ul li a dl.ms_modal{ width: 240px;  }
.teacher_title_text{background: url(http://files.dongao.com/static/shouye/shouye_img/new_pic/teacher_tit_01.png) left center no-repeat;background-position: 0 0;width: 57px;left: 0;padding-left: 72px;top:0 ;height: 27px;}
.teacher_pre{left: 16px;}
.teacher_pre_ex{left: 0;}

/*wyx 2018.9.19 add  高级级课程 rmkc*/
.rmkc_ul .rmkc-con-gj:hover{text-decoration: none;}
.gj_rmkc .rmkc_ul li{position: relative;margin-right: 20px;width: 265px;border-radius: 5px;border: 1px solid #e6e6e6;height: auto;margin-bottom: 44px;}
.gj_rmkc .rmkc_ul li:hover{box-shadow: 0 4px 20px RGBA(0,0,0,0.3);box-shadow: 5px 6px 19px RGBA(0,0,0,0.3);}
.gj_rmkc .rmkc_ul li.last{margin-right: 0;}
.rmkc-con-gj{border-top: 2px solid #b05b59;display: block;   background: #ffffff; height: auto; width: 100%;}
.rmkc-con-gj{background: #ffffff;height: auto;}
.rmkc-con-gj .rmkc-con-desc{padding-top: 30px;padding-left: 15px;height: auto;color: #756f6a;}
.rmkc-con-gj .rmkc-con-desc p{text-align: left;font-size: 17px; color: #756f6a;}
.rmkc-con-gj .rmkc-con-desc .red_col{color: #d94a5f;font-style: normal;}
.rmkc-con-gj .rmkc-con-desc .rmkc-tit1{color: #202124;font-size: 22px;font-weight: bold;padding-left: 6px;display: inline;}
.rmkc-con-gj .rmkc-datail{height: 90px;margin-top: 20px;padding-left: 5px;}
.rmkc-con-gj .rmkc-datail span{color:#202124;font-size: 15px;line-height: 15px}
.rmkc-con-gj .rmkc-datail b{font-size: 15px;color: #000000;margin: 0 4px;line-height: 15px;}
.rmkc-con-gj .rmkc-datail i{display: inline-block;width: 20px;}
.rmkc-con-gj .rmkc-datail .nof{margin-top: 15px}
.rmkc-con-gj .teacher_head img{float: left;margin-right: 10px;}
.rmkc-con-gj .teacher_head span{margin-top: 10px;color: #666666;font-size: 12px;display: inline-block;margin-bottom: 15px;width:260px;padding-left: 5px;}
.rmkc-con-gj .rmkc_bottom{line-height: 58px;background: #f9f8f8;border-top:1px solid #e6e6e6;padding-left: 20px;height: 58px}
.rmkc-con-gj .rmkc_bottom span{color: #202124;font-size: 14px;display: inline;position: relative;float: left;}
.rmkc-con-gj .rmkc_bottom b{color: #202124;font-size: 22px;font-weight: bold;}
.rmkc-con-gj .rmkc_bottom .zj_kc_bug{float: right;margin-right: 10px;background: url(http://files.dongao.com/static/shouye/shouye_img/rmkc_img/zj_bug_banner.png);width: 93px;height: 30px;color: #ffffff;font-size: 14px;text-align: center;line-height: 30px;margin-top: 15px;}
.rmkc-con-gj span.new_up{background: url(http://files.dongao.com/static/shouye/shouye_img/rmkc_img/new_up.png) no-repeat top right;position: absolute;right: 0;top: 0;width: 30px;height: 44px;display: block;text-align: left;padding-left: 27px;color: #FFF;font-size: 12px;padding-top: 3px;}                       
 /*gj end*/
/*考种切换样式 begin wyx 2018.9.21*/
/*打印*/
.kemu_tab.zc_kemu_tab .sp_ex .kemu_dayin{width: 175px;text-align: left;background: url(http://files.dongao.com/static/shouye/shouye_img/kemu_dayin_ex.png) no-repeat 89px center;display: block;} 
.kemu_tab .kemu_dayin{width: 175px;text-align: left;background: url(http://files.dongao.com/static/shouye/shouye_img/kemu_dayin.png) no-repeat 89px center;display: block;}
/*查分*/
.kemu_tab .kemu_cf{
	width: 185px; text-align: left; background: url(http://files.dongao.com/static/shouye/shouye_img/cf_img1.png) no-repeat 103px center; display:block;
}
.zc_kemu_tab .sp_ex .kemu_cf { background: #f28e1e url(http://files.dongao.com/static/shouye/shouye_img/cf_img2.png) no-repeat 54px center; color: #fff;}
/*报名*/
.kemu_tab .kemu_bm{
	width: 170px; text-align: left; background: url(http://files.dongao.com/static/shouye/shouye_img/bm_img1.png) no-repeat 86px center; display:block;
}
.zc_kemu_tab .sp_ex .kemu_bm { background: #f28e1e url(http://files.dongao.com/static/shouye/shouye_img/bm_img2.png) no-repeat 86px center; color: #fff;}
/*考试中*/
.kemu_tab.zc_kemu_tab .sp_ex .kemu_ksing{width: 153px;text-align: left;background: url(http://files.dongao.com/static/shouye/shouye_img/kemu_ksing_ex.png) no-repeat 67px center;display: block;} 
.kemu_tab .kemu_ksing{width: 153px;text-align: left;background: url(http://files.dongao.com/static/shouye/shouye_img/kemu_ksing.png) no-repeat 67px center;display: block;}
/*考种切换样式 end*/

    .company_footer{background: #FFFFFF; text-align: center; position: relative;padding: 20px 0;margin:0 auto;width: 1180px;}
    .company_foooter_tit{font-size: 18px; color: #343434;line-height: 18px;}
    .company_foooter_ind{color: #616161;margin: 12px 0;line-height: 22px}
    .footer_right_bg{position: absolute; right: 20px;bottom: 20px; }
    .footer_left_bg{ position: absolute; left: 20px;top: 20px;}
.bottom_div1{border:0}
/*20190711 第一屏更改*/
.wrap_top_top{padding-left: 0 !important;position: relative;top: -20px;width: 100%;height: auto;margin-bottom: 0;}
.all_type{width: 179px;box-shadow: 5px 4px 7px 4px rgba(59,59,59,.08);}
.all_type > p {background: #e38944;color: #FFFFFF;height: 50px;line-height: 50px;text-align: center;font-size: 18px;}
.all_type > ul{padding: 20px 0 12px 40px}
.all_type > ul > li{margin-bottom: 8px;}
.all_type > ul > li.last{margin: 0}
.all_type > ul > li >a{color: #333333;font-size: 16px;line-height: 18px;}
.ns_div{width: 959px;height: 360px;padding:0 20px;}
.ns_div > .ns_nav{margin-bottom: 23px;}
.ns_div > .ns_nav > ul{line-height: 49px;border-bottom: 1px solid #ebebeb;height: 49px}
.ns_div > .ns_nav > ul > li{float: left;position:relative;margin-right: 33px; height: 49px;line-height: 49px;}
.ns_div > .ns_nav > ul > li > a{color: #333333;font-size:16px;  line-height: 49px;}
.all_type  a:hover,.ns_nav a:hover{color: #e38944 !important;text-decoration: none;}
.ns_div > .ns_nav > ul > li img{position: absolute;top: 8px;right: -14px;}
.ns_div > .top_left{width: 628px;height: 288px;border-radius: 5px;}
.ns_div >.top_left  img{height: 288px;}
.ns_div .top_right .toutiao_li{height: 38px;line-height: 38px;}
.ns_div .top_right .toutiao_li a{color: #333333;font-size: 16px;}
.ns_div .top_right .toutiao_li a:hover{color: #e38944;}
.teacher_slider_div{padding-bottom: 16px;}
.wrap_top{height: auto}
.ns_div .top_right{width: 314px;}
.banner_ul{width:628px !important;;height:288px !important;}
.banner_ul li {width:628px !important;;height:288px !important;}


 /*20190918 icon 直播课改版*/
    .gj_rmkc .rmkc_ul li {margin-bottom: 0;}
    /*body{background: #FFFFFF}*/
    .head_bar{box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);}
    .shadow_bg{border: 0}
    /*直播公开课*/
    .wrap_top_middle{width: 1140px;margin: 30px auto 40px;}
    .videoclass_slider{position: relative;width: 1056px;overflow: hidden;margin-top: 14px;height: 80px;box-shadow: 0 2px 16px 0 rgba(0,0,0,0.08);border-radius: 4px;padding: 21px 42px;}
    .videoclass_slider ul{height: 80px;overflow: hidden;}
    .videoclass_slider li {float: left;margin-right: 64px;width: 323px}
    .videoclass_slider li div.videclass_div p{font-size: 14px;color: #666666;line-height: 22px;padding-left: 15px;    white-space: nowrap;  overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis; text-overflow: ellipsis;}
    .videoclass_slider li div.videclass_div p.videoclass_tit{font-size: 16px;color: #222222;}
    .videoclass_slider li div.videclass_div p:hover {color: #E38944;}
    .videoclass_slider li div.videclass_div p.videocclass_tea:hover , .videoclass_slider li:hover div.videclass_div p.zhibo_time:hover{color: #666666;}
    .videoclass_slider li a:hover{text-decoration: none;}
    .videoclass_slider > span{display: block;position: absolute;height:44px;width:26px;background: url("http://files.dongao.com/static/zhongji/channel/images/lb_icon.png") no-repeat;top: 38px;cursor: pointer;}
    .videoclass_slider > span.videoclass_pre{ background-position: -468px -10px; left: 0;}
    .videoclass_slider > span.videoclass_next{background-position: -507px -9px; right: 0;}
    .videoclass_slider > span.videoclass_pre:hover{background-position: -391px -9px;}
    .videoclass_slider > span.videoclass_next:hover{background-position: -429px -9px; }
    .videoclass_slider li div.videclass_div p.zhibo_time{background: url("http://files.dongao.com/static/zhongji/channel/images/live_time.png") no-repeat 15px center;padding-left: 35px;}
    .videoclass_slider li div.videclass_div p.join_zhibo{background: url("http://files.dongao.com/static/zhongji/channel/images/live_icon.gif") no-repeat 15px top;padding-left: 40px;}
    .videoclass_slider li .join_zhibo{display: none;}
    .videoclass_slider li.zhibo .join_zhibo{display: block;color:#E38944; }
    .videoclass_slider li.zhibo .zhibo_time {display: none;}
    .videoclass_slider .video_head{float: left; padding: 4px;background: url("http://files.dongao.com/static/zhongji/channel/images/teacher_headbg.png") no-repeat;}
    /*title*/
    span.title_icon{font-size: 24px;color: #333333;font-weight: bold;display: inline-block;position: relative;}
    span.title_icon:before{content: '';position: absolute;display: block;background: url(http://files.dongao.com/static/shouye/shouye_img/title_icons.png) no-repeat;left:0;top:0;}
    /*直播公开课*/
    span.zbgkk_title{height: 32px;line-height: 32px; padding-left: 40px;}
    span.zbgkk_title:before{height:32px;width:30px;background-position:-352px 0; }
    /*东奥头条*/
    span.datt_title:before{height:28px;width:99px;background-position:-517px 0;left: 0;top: 0; }
    /*东奥名师*/
    span.dams_title{height: 26px;line-height: 26px; padding-left: 40px;}
    span.dams_title:before{height:26px;width:31px;background-position:-476px 0;left: 0;top: 0; }
    /*热点推荐*/
    span.rdtj_title{height: 24px;line-height: 24px; padding-left: 30px;font-size: 22px;}
    span.rdtj_title:before{height:29px;width:24px;background-position:-30px 0;}
    /*热点关注*/
    span.rdgz_title{height: 30px;line-height: 30px; padding-left: 35px;font-size: 22px;}
    span.rdgz_title:before{height:30px;width:30px;background-position:-432px 0;}
    /*辅导资料*/
    span.fdzl_title{height: 28px;line-height: 8px; padding-left: 32px;font-size: 22px;}
    span.fdzl_title:before{height:28px;width:27px;background-position:-231px 0;}
    /*免费试听*/
    span.mfst_title{height: 28px;line-height: 28px; padding-left: 33px;font-size: 22px;}
    span.mfst_title:before{height:27px;width:27px;background-position:-189px 0;}
    /*热门课程*/
    span.rmkc_title{height: 24px;line-height: 24px; padding-left: 38px;}
    span.rmkc_title:before{height:24px;width:28px;background-position:-271px 0;}
    /*图书*/
    span.cxts_title{height: 26px;line-height: 26px; padding-left: 36px;}
    span.cxts_title:before{height:25px;width:26px;background-position:-121px 0;}
    /*通关经验*/
    span.tgjyt_title{height: 28px;line-height: 28px; padding-left: 33px; font-size: 22px}
    span.tgjyt_title:before{height:28px;width:28px;background-position:-313px 0;}
    /*实务课堂*/
    span.swkt_title{height: 26px;line-height: 26px; padding-left: 30px;font-size: 22px}
    span.swkt_title:before{height:25px;width:25px;background-position:-155px 0;}
    /*学员心声*/
    span.xyxs_title{height: 32px;line-height: 32px; padding-left: 30px;font-size: 22px}
    span.xyxs_title:before{height:31px;width:24px;background-position:-60px 0;}
    /*产品常见问题*/
    span.cpcjwt_title{height: 30px;line-height: 30px; padding-left: 35px;font-size: 22px}
    span.cpcjwt_title:before{height:30px;width:30px;background-position:-393px 0;}
    /*法规库*/
    span.fgk_title{height: 24px;line-height: 24px; padding-left: 30px;}
    span.fgk_title:before{height:23px;width:23px;background-position:0 0;}
    /*继续教育*/
    span.jxjy_title{height: 24px;line-height: 24px; padding-left: 35px;}
    span.jxjy_title:before{height:22px;width:25px;background-position:-91px 0;}

.kemu_map .tit1{padding-left:0}
.videoclass_slider li.huigu div.videclass_div p.zhibo_time{background:url(http://files.dongao.com/static/zhongji/channel/images/live_time_ex.png) no-repeat 15px center;color: #E38944;}
.videoclass_slider li.huigu .video_head , .videoclass_slider li.zhibo .video_head{  background: url(http://files.dongao.com/static/zhongji/channel/images/teacher_headbg_ex.png) no-repeat;}
/*注会“对答案”活动*/
      .kemu_tab .cpa_anwser_tab{
        width: 180px; text-align: left; background: url(http://files.dongao.com/static/shouye/shouye_img/cpa_tab1.png) no-repeat 96px center; display:block;
		}
      .zc_kemu_tab .sp_ex .cpa_anwser_tab{background: url(http://files.dongao.com/static/shouye/shouye_img/cpa_tab2.png) no-repeat 96px center;}