<!DOCTYPE html>
<html lang="zh-cmn-Hant">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="https://s.anw.red/anywayfm.com/main.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="author" content="JJ Ying" />
	<meta name="baidu-site-verification" content="0QTmNff4jr" />
	<script type="text/javascript" src="https://s.anw.red/js/social-share.min.js"></script>
	<meta name="description" content="UI 設計師 JJ Ying 和 Leon Gao 主播的設計 Podcast"/>
	<link rel="alternate" type="application/rss+xml" title="Anyway.FM" href="https://anyway.fm/rss.xml" />
	<link rel="shortcut icon" href="https://s.anw.red/images/favicon.png" />
</head>

<body>

	<header>
		<a href="https://Anyway.FM" target="_blank"></a>
		<div style="display: none;">Anyway.FM 设计杂谈 • UI 设计师 JJ Ying 和 Leon Gao 主播的设计杂谈播客<img src="https://s.anw.red/anywayfm.com/wechat.png"/></div>
	</header>
	
		{{ content }}
		
	<footer></footer>
	
	
	<div class="mask mt"></div>
	<div class="mask mb"></div>
	<div class="mask mv ml"></div>
	<div class="mask mv mr"></div>
	<div class="mask mv ml2"></div>
	<div class="mask mv mr2"></div>
	
	<div class="tile"></div>
	
	<div class="mobile-bg"></div>
<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?d6fc362c05908e5ce8d17df52dbc2586";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>
</body>

</html>