/**{margin:0;padding:0;font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;}*/
* {
    margin: 0;
    padding: 0;
    font-family: 'FZXH1JW', Arial;
}
@font-face {
    font-family: "FZXH1JW";
    src: url("../css/font/方正简体.woff2") format("woff2"),
    url("../css/font/方正简体.woff") format("woff"),
    url("../css/font/方正简体.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
html body{
    font-family: "FZXH1JW";
    color: #333333;
    background: rgb(244, 244, 244);
}
.clearfix:before,.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.wrap{
    width: 1024px;
    margin: 0 auto;
    background: #ffffff;
}
.top-title{
    width: 1024px;
    height: 40px;
    background: rgb(19, 19, 19);
    margin: 0px auto;
    padding: 0px;
    position: relative;
}

.content{
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 30px;
    color: #333333;
    text-align: center;
    padding-top: 50px;
    font-weight: bold;
}
.title2{
    font-size: 20px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
    line-height: 30px;
}
.top{
    margin-top: 30px;
}
.tips{
    font-size:20px;
    color: #333333;
    font-weight: bold;
}
.tips-list{
    width: 100%;
    margin-top: 40px;
}
.tips-list li{
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #333333;
    font-weight: normal;
}
.video-box{
    width:100%;
    margin: 40px auto 0;
}
.video-box video{
    width: 100%;
}
.more{
    padding: 6px 0;
    margin-top: 6px;
    font-weight: normal;
}
.more a{
    color:  #0085e0;
    font-family: Arial;
}
.more a:hover{
    text-decoration: underline;
}
.bottom{
    margin-top: 50px;
}
.title3{
    font-size: 30px;
    line-height:50px;
    text-align: center;
    font-weight: bold;
}
.faq{
    margin-top: 30px;
    border-bottom: 1px solid #d8d8d8;
}
.faq-p{
    font-size: 18px;
    padding-bottom: 20px;
    cursor: pointer;
    color: #333333;

}
.answer-box{
    display: none;
}
.answer-box .p1{
    font-size: 14px;
    font-weight: bold;
    padding: 6px 0 6px 20px;
}
.answer-box .p2{
    font-size: 14px;
    padding: 6px 0 20px 20px;
}
.answer-box .p2 ul{
    width: 100%;
}
.answer-box .p2 ul li{
    width: 100%;
    font-size: 14px;
    line-height: 30px;
    float: left;
}
.answer-box .p2 ul li span{
    width: 20px;
    float: left;
}
.answer-box .p2 ul li p{
    margin-left: 20px;
}
.answer-box .p2 a{
    color:  #0085e0;
    padding: 6px 0;
    font-family: Arial;
}
.answer-box .p2 a:hover{
    text-decoration: underline;
}
.description{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333333;
    padding: 10px 0;
}
.more2{
    display: block;
}