
p.QingKe {
  font-size: 18px;
 font-family: 'ZCOOL QingKe HuangYou', cursive;  /* Google fonts 输出的 CSS */
}

a.QingKe {
  font-size: 18px;
 font-family: 'ZCOOL QingKe HuangYou', cursive;  /* Google fonts 输出的 CSS */
}

