body {
    background-color: #ebebeb;
    color: #222f3a;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    color: #c11d22;
}

#page-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.page-header {
    padding: 1rem 0 0 0;
    text-align: center;
}

.page-header h1 {
    display: inline-block;
}

.header-divider {
    border: 1px solid #ddd;
    display: inline-block;
    height: 48px;
    margin: 0 1.5rem;
    width: 0px;
}

.content {
    padding: 0;
}

.item {
    max-width: 100%;
    width: 100%;
}

.item_inner {
    background-color: #f7f7f7;
    border-color: #dee5eb;
    border-style: solid;
    border-width: 0 0 0 4px;
    margin: 1.5rem .75rem;
    padding: 0;
}

.body_rtl .item_inner { border-width: 0 4px 0 0; }

.item_body {
    border-color: #dee5eb;
    border-style: solid;
    border-width: 1px 1px 0 0;
    padding: .75rem;
}

.body_rtl .item_body {
    border-width: 1px 0 0 1px;
}

.item_img {
    float: right;
    margin: 0 0 .75rem .75rem;
    max-width: 40%;
    width: 40%;
}

.body_rtl .item_img {
    float: left;
    margin: 0 .75rem .75rem 0;
}

.item_img img {
    border: 0;
    height: auto;
    max-width: 100%;
    width: 100%;
}

h2 {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.15;
    padding-bottom: .75em;
    word-wrap: break-word;
}

.has_image h2 { max-width: 55%; }

.description {
    font-size: 1rem;
    line-height: 1.35;
    padding-bottom: .5em;
    word-wrap: break-word;
}

.website {
    background-repeat: no-repeat;
    border-color: #dee5eb;
    border-style: solid;
    border-width: 0 1px 1px 0;
    color: #768492;
    font-size: 1rem;
    height: 1.5rem;
    line-height: 1;
    padding: 0 .75rem .75rem .75rem;
    text-align: left;
}

.body_rtl .website {
    border-width: 0 0 1px 1px;
    text-align: right;
}

.hostname {
    display: inline-block;
    margin: .25rem 0 0 32px;
}

.clear { clear: both; }



/* entity-specific styles */

.rferl a       { color: #ea6903; }
.rferl a:hover { color: #BB5402; }

.rfa a         { color: #158e45; }
.rfa a:hover   { color: #106c34; }

.voa a         { color: #3a79b7; }
.voa a:hover   { color: #0a5b96; }

.ct a         { color: #2e1a97; }
.ct a:hover   { color: #170573; }

.rferl .item_inner { border-color: #ea6903; }
.rfa .item_inner   { border-color: #158e45; }
.voa .item_inner   { border-color: #3a79b7; }
.ct .item_inner   { border-color: #2e1a97; }


.rferl .website { background-image: url(img/rferl-icon.png); background-position: .75rem top; background-size: 17px 24px; }
.rferl .hostname { margin: .25rem 0 0 26px; }

    .body_rtl .rferl .website { background-position: right .75rem top 0; }
    .body_rtl .rferl .hostname { margin: .25rem 26px 0 0; }

.rfa .website { background-image: url(img/rfa-icon-2022.png); background-position: .75rem top; background-size: 37px 16px; }
.rfa .hostname { margin: .25rem 0 0 45px; }

    .body_rtl .rfa .website { background-position: right .75rem top 0; }
    .body_rtl .rfa .hostname { margin: .25rem 45px 0 0; }

.voa .website { background-image: url(img/voa-icon.png); background-position: .75rem 4px; background-size: 40px 16px; }
.voa .hostname { margin: .25rem 0 0 48px; }

    .body_rtl .voa .website { background-position: right .75rem top 4px; }
    .body_rtl .voa .hostname { margin: .3rem 48px 0 0; }

.ct .website { background-image: url(img/ct-icon.png?v2); background-position: .75rem 0px; background-size: 26px 26px; }
.ct .hostname { margin: .25rem 0 0 35px; }

    .body_rtl .ct .website { background-position: right .75rem top 0px; }
    .body_rtl .ct .hostname { margin: .3rem 48px 0 0; }

/* lang-specific */

.lang-bo h2 { font-size: 1.35rem; }
.lang-bo .description { font-size: 1.25rem; }

@font-face {
    font-family: 'Zawgyi-One';
    src: url('font/zawgyi-one.woff2') format('woff2'),
         url('font/zawgyi-one.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body.lang-my { font-family: 'Zawgyi-One'; }


/* responsive queries */

@media (min-width: 600px) {

	.content {
        padding: .75em;
    }

    .page-header { padding: 1rem 0 2rem 0; }

    .header-divider { margin: 0 2rem; }

    .item {
	    float: left;
	    max-width: 50%;
	    width: 50%;
    }
    
    .body_rtl .item {
        float: right;
    }

    .item_inner { margin: .75rem; }

}



@media (min-width: 600px) and (max-width: 899px) {
	
    .item:nth-child(2n+1) { clear: both; }

}



@media (min-width: 900px) {

	.item {
	    max-width: 33.3333%;
	    width: 33.3333%;
	}

	.item:nth-child(3n+1) { clear: both; }

    /*.item:last-child { display: none; visibility: hidden }*/
}
