html{font-size: 80px;}
*{margin: 0 ;padding: 0;font-size: 0;}
*,body,::before,::after{margin: 0;padding: 0;font-family: "微软雅黑";box-sizing: border-box;/*以边框开始计算 可以减少边框的px计算*/
	-webkit-box-sizing: border-box;/*在低版本也可以兼容 基于-webkit*/
	-webkit-tap-highlight-color:transparent ;/*点击高亮效果清除*/}
input,textarea{outline: none;border: none;resize: none;/*禁止缩放*/ /*清除移动端输入框特有的样式*/-webkit-appearance: none;}
ul,ol{list-style: none;}
a{text-decoration: none;color: #333;}
div:focus{ outline:none}



/* 头部	 */
.top-nav{width: 1200px;height: 102px;background: #fff;display: flex;align-items: center;justify-content: space-between; margin: 0 auto	}
.nav-left{margin-left: 30px;}
.nav-right,.nav-left{display: flex;	height: 100%;align-items: center; margin-left: 40px}
.nav-right>li{display: inline-block;margin-right: 30px;}
.nav-right>li>a{display: block;font-size: 24px;color: #000000;}
.nav-right>li>a.on{color: #27B350;}
.toplink{width: 235px;height: 33px;}
.toplogo{width: 298px;height: 62px;}
.mlogo{display: none;}


.player-intro{width: 100%;height:605px;background: url(../images/intro-bg.png) no-repeat center;}
.player-encricle{display: flex;justify-content: space-between;width: 1200px;margin: 0 auto;}
.intro{width: 724px;height: 520px;margin: 60px 0 0 20px}
.intro-word{width: 40%;margin-top: 60px; position: relative}
.intro-logo{width: 86%;display: block;margin: 0 auto;}
.intro-word>p{font-family: PingFangTC-Semibold;font-size: 46px;color: #474545;letter-spacing: 3.8px;margin: 20px 0;text-align: center;width: 100%;}
.intro-word>ul{justify-content: space-around;width: 96%;height: 80px; margin:0 0  80px 40px}
.intro-word>ul>li{width: 42%;height: 70%;}
.intro-word>ul>li>a{display: block;width: 100%;height: 100%;}
.intro-word>ul>li>a>img{width: 100%;vertical-align: top;}
.intro-word>.text{margin:40px auto 0;display: block; padding-top: 20px}
.intro-word>.mtext{display: none;}
.intro-word>.text>h5{font-family: PingFangTC-Semibold;font-size: 25px;color: #474545;letter-spacing: 1.9px;text-align: center;line-height: 40px;}
.intro-word>.cod{font-size: 0;display: block;position: absolute; top: 185px; left: 250px; }
.intro-word>.cod>img{ width: 162px; height: 162px}
.news{width: 100%;margin: 60px auto 0;height: 350px;}
.news-encricle{width: 1200px;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;}
.news-img{width: 40%;height:100%;}
.news-content{width: 50%;}
.news-content>p{font-weight: bold;font-size: 45px;color: #000000;letter-spacing: 3.15px;margin: 20px 0;}
.news-content>ul>li{font-size: 14px;color: blue;letter-spacing: 1.17px;line-height: 20px;}
.news-content>ul>li>a{font-size: 14px;color: red;letter-spacing: 1.67px;line-height: 25px; border-bottom: solid red 1px}




.source{width: 100%;margin: 40px auto;}
.source-encricle{width:1200px;margin: 0 auto;display: flex;justify-content: space-between;align-items: center;}
.source-word{font-family: PingFangTC-Semibold;color: #000;margin-top: 60px;display: block;}
.m-word{display: none;}
.source-word>p{font-size: 28px;}
.source-word>h4{font-size: 45px;letter-spacing: 3.8px;line-height: 110px; color: #000000}
.source-img{width: 635px;height: 427px;}




.mobile{width: 100%;height: 552px;background: url(../images/mobile-bg.png) no-repeat center;}
.mobile-encricle{width: 1200px;margin: 0 auto;display: flex;align-items: center;justify-content: space-between;}
.download{background: url(https://www.dytt8899.com/app/images/download-bg.png) no-repeat center;}
.mobile-text{font-weight: bold;color: #474545;letter-spacing: 3.65px;margin: 20px 0;}
.mobile-text>p{font-size: 45px;line-height: 80px; color: #000000}
.mobile-text>span{font-size: 28px;display: block;margin-bottom: 10px;}
.mobile-img{margin: 2% 3% 0 2%;}
.download .mobile-img{margin:2% 0;}
.cloudplay{width: 100%;height: 552px;display: flex;}
.cloudplay-swiper{width: 1200px; margin: 0 auto;display: flex;align-items: center;justify-content: space-around;}
.cloud-text{font-weight: bold;color: #474545;display: block;}
.cloud-m{display: none;}
.cloud-text>p{font-size: 45px;line-height: 80px; color: #000000}
.cloud-text>span{font-size: 28px;display: block;margin-bottom: 10px;}

/* 底部 */
.bottom{width: 100%;height: 130px;}
.bottom>.bottomlogo{width: 195px;height: 50px;display: block;margin: 40px auto 0;}
.bottom>p{font-size: 20px;color: #7A6862;text-align: center;line-height: 60px;}

/* 安卓版本页 */
.android-intro{width: 100%;height:605px;background: url(../images/intro-bg.png) no-repeat center; margin: 0 auto}
.android-swiper{width: 1200px;margin: 0 auto;display: flex;justify-content: space-between;}
.android-img{width: 495px;height: 528px;margin: 88px 5% 0 4%;}
.android-pic{display: flex;align-items: center;}
.android-logo{width: 400px;}
.android-app{width: 60px;margin-left: 30px;}
.android-word{margin-top: 120px;}
.android-word>p{font-size: 50px;color: #474545;text-align: center;margin: 50px auto 30px;}
.android-download{display: flex;justify-content: space-between;}
.android-download>a{display: block;font-size: 0;margin-top:60px ;height: 70px;}
.code{font-size: 0;display: block;}
.code>p{font-size: 20px;color: #716F6F;text-align: center;line-height: 57px;}

.example{width: 1200px;margin: 90px auto 60px;display: flex;justify-content: space-around;}
.example>li{display: flex;align-items: center;}
.example>li>img{margin-right: 15px;}
.example-list>h5{font-size: 30px;color: #474545;margin-bottom: 10px;}
.example-list>p{font-size: 21px;color: #AFAFAF;line-height: 30px;}
.movie{width: 100%;height: 552px;background: url(../images/movie-bg.png) no-repeat center;display: flex;align-items: center;}
.movie-text{margin: 0 auto;width: 1100px;color: #474545;}
.movie-text>h5{font-size: 45px;line-height: 110px;}
.movie-text>p{font-size: 28px;display: block; color: #474545}
.tv{width: 100%;height: 552px;display: flex;}
.tv-swiper{display: flex;align-items: center;justify-content: space-between;width: 1200px;margin: 0 auto;}
.tv-img{ width: 652px;height: 420px;}
.tv-text{color: #474545;}
.tv-text>h5{font-size: 45px;line-height: 110px; color: #000000}
.tv-text>p{font-size: 28px; color: #474545}
.handle{width: 100%;height: 552px;background: url(../images/handle-bg.png) no-repeat center;display: flex;align-items: center;}
.handle-text{margin:0 auto;color: #474545;width: 1100px;}
.handle-text>h5{font-size: 45px;line-height: 110px; color: #000000}
.handle-text>span{font-size: 28px;display: block;width: 480px;line-height: 40px;display: block; color: #474545}
.handle-text>p{display: none;}


/* 误报本页 */
.report-intro{width: 100%;height:605px;background: url(../images/intro-bg.png) no-repeat center;}
.report-swiper{width: 1200px;margin: 0 auto;display: flex;justify-content: space-between;}
.report-word{margin-top: 40px;position: relative}
.report-word>h2{font-size: 50px;color: #474545;margin: 50px 0px;}
.report-word>span{font-size: 32px;color: #474545;margin: 50px  20px;}
.report-word>p{font-size: 25px;color: #474545;margin: 50px  0px; width: 530px}
.codes{float: right;}
.codes>img{position: absolute; top: 220px; right: -160px; width: 433px; height: 281px}

.leave{width: 1200px;margin: 90px 40px;display: flex;justify-content: space-around; height:auto}
.leave>li{display: block; margin:  0 auto }
.leave>li>h2{font-family: PingFangTC-Semibold;
	font-size: 30px;
	color: #000000;
	letter-spacing: 2.28px;
	line-height: 20px;}
.leave>li>p{margin: 30px 0px;

	font-family: PingFangTC-Semibold;
	font-size: 20px;
	color: #474545;
	letter-spacing: 1.9px;
	line-height: 30px;}
.leave>li>img{margin-right: 15px;float: left;}

.down{width: 100%;height: 552px;background: url(https://www.dytt8899.com/app/images/gn.png) no-repeat center;display: flex;align-items: center;}
.down-text{margin: 0 auto;width: 1200px;color: #474545;}
.down-text>h5{font-size: 45px;line-height: 90px;}
.down-text>p{font-size: 28px;display: block; color: #474545}
.down-download{display: flex;justify-content: space-between;}
.down-download>a{display: block;font-size: 0;margin-top:40px ;height: 70px;}

/* pc使用方法 */
.pint-intro{width: 100%;height:205px;background: url(../images/intro-bg.png) no-repeat center;}
.pint-swiper{width: 1000px;margin: 0 auto;display: flex;justify-content: space-between;}
.pint-word{margin-top: 40px;position: relative}
.pint-word>h2{font-size: 30px;color: #474545;margin: 50px 100px;}


.peave{width: 800px;margin:0 auto;display: flex;justify-content: space-around; height:auto}
.peave>li{display: block; margin:  0 auto }
.peave>li>h2{font-family: PingFangTC-Semibold;
	font-size: 20px;
	color: #000000;
	letter-spacing: 2.28px;
	line-height: 20px;}
.peave>li>p{margin: 25px 0px;

	font-family: PingFangTC-Semibold;
	font-size: 14px;
	color: #474545;
	letter-spacing: 1.9px;
	line-height: 10px;}
.peave>li>p>a{margin: 10px 0px;

	font-size: 16px;
	color: #0b6e99;
	border-bottom: 1px solid #0b6e99;
	letter-spacing: 1.9px;
	}

.peave>li>p>b{

	font-size: 16px;
	color: red;
	letter-spacing: 1.9px;
	line-height: 30px;}
.peave>li>p>img{
	float: left;width: 90%; height:auto; margin:0 10% 10px 0%;

}



/* 安卓使用方法 */
.aint-intro{width: 100%;height:205px;background: url(../images/intro-bg.png) no-repeat center;}
.aint-swiper{width: 1000px;margin: 0 auto;display: flex;justify-content: space-between;}
.aint-word{margin-top: 40px;position: relative}
.aint-word>h2{font-size: 30px;color: #474545;margin: 50px 100px;}


.aeave{width: 800px;margin:0 auto;display: flex;justify-content: space-around; height:auto}
.aeave>li{display: block; margin:  0 auto }
.aeave>li>h2{font-family: PingFangTC-Semibold;
	font-size: 20px;
	color: #000000;
	margin-top: 30px;
	letter-spacing: 2.28px;
	line-height: 20px;}

.aeave>li>p{margin: 10px 0px;

	font-family: PingFangTC-Semibold;
	font-size: 16px;
	color: #474545;
	letter-spacing: 1.9px;
	line-height: 30px;}
.aeave>li>p>a{margin: 10px 0px;

	font-size: 16px;
	color: #0b6e99;
	border-bottom: 1px solid #0b6e99;
	letter-spacing: 1.9px;
	line-height: 30px;}

.aeave>li>p>b{

	font-size: 16px;
	color: red;
	letter-spacing: 1.9px;
	line-height: 30px;}
.aeave>li>p>i{

	font-size: 16px;
	color: #999;
	letter-spacing: 1.9px;
	line-height: 30px;}
.aeave>li>p>img{
	float: left;width: 70%; height:auto; margin:0 30% 10px 0%;
}




/* 手机端	 */
@media (max-width: 1200px ) {

	.top-nav{height: .8rem; width: 7.5rem}
	.nav-left{display: none;}
	.mlogo{display: block;width: 2.21rem;height: .78rem;margin-left: .3rem;}
	.nav-right>li>a{font-size: .28rem;}

	/* 首页 */
	.player-intro{height: 9rem;width: 100%;background: url(../images/intro-bg.png) no-repeat center 0;background-size: 100% 3.62rem;}

	.player-encricle{display: flex;justify-content: space-between;flex-wrap: wrap;width: 100%;margin: 0 auto;}

	.intro{width: 100%;height: 4.94rem;margin: .3rem auto 0}
	.intro-word>ul{justify-content: space-around;width: 91%;height: 1rem; }
	.intro-word>ul>li{margin-top: 0.1rem}
	.intro-word{width: 95%;margin:.8rem auto 0;position: relative;}
	.intro-word>p{font-size:.46rem;margin: .3rem 0;font-weight: bold;}
	.intro-word>.mtext{display: block;margin-bottom: .28rem;}
	.intro-word>.text{display: none;}
	.intro-word>.mtext>h5{font-family: PingFangTC-Semibold;font-size:.25rem;color: #474545;text-align: center;line-height: .39rem;}
	.intro-word>.cod{font-size: 0;display: block;position: absolute; top: 4.5rem; left: 4rem; }
	.intro-word>.cod>img{ width: 2.7rem; height: 2.7rem}

	.news{margin: 3.2rem auto 0;height: 5.2rem;}
	.news-encricle{width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap;}
	.news-img{width: 90%;margin: .2rem auto;height: 3.6rem;}
	.news-content>p{font-size: .44rem;margin: .2rem 0;}
	.news-content>ul>li{font-size: .22rem;line-height: .45rem;font-weight: bold;}
	.news-content>ul>li>a{font-size: .22rem;line-height: .45rem;font-weight: bold;color:red;border-bottom: solid red 1px}
	.news-content{width: 80%;margin: 0 auto;}


	.source{width: 100%;margin: 5.2rem auto 0;}
	.source-encricle{width:90%;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.source-word{display: none;}
	.m-word{display: block;margin-top: .4rem;font-family: PingFangTC-Semibold;color: #000;text-align: center;width: 100%;}
	.m-word>p{font-size: .3rem;line-height: 1rem;}
	.m-word>h4{font-size: .48rem;}
	.source-img{width: 100%;height: 5rem;}
	.mobile{width: 100%;height: 6.56rem;background: url(../images/mobile-bg.png) no-repeat center;background-size: 100% 100%;}
	.mobile-encricle{width: 100%;margin: 0 auto;display: flex;flex-wrap: wrap}
	.mobile-text{font-weight: bold;color: #000000;margin: .2rem 0;width: 100%;text-align: center;}
	.mobile-text>p{font-size: .48rem;line-height: .8rem;}
	.mobile-text>span{font-size: .28rem;display: block;margin-bottom: .1rem;color:#474545}
	.mobile-img{margin: .06rem auto 0;width: 68%;}
	.cloudplay{width: 100%;height: 5.72rem;}
	.cloudplay-swiper{width: 100%;display: flex;align-items: center;flex-wrap: wrap;}
	.cloud-text{display: none;}
	.cloud-m{display: block;font-weight: bold;color: #000000;width: 100%;text-align: center;}
	.cloud-m>p{font-size: .48rem;line-height: .8rem;}
	.cloud-m>span{font-size: .28rem;display: block;margin-bottom: .1rem;}
	.cloud-img{margin: 0.3rem auto 0;width: 40%;}
	.download .mobile-img{margin: 0 auto;display: block; margin-top: 15px}

	/* 安卓版本页 */
	.android-intro{height: 9.4rem;width: 100%;background: url(../images/intro-bg.png) no-repeat center 0;background-size: 100% 3.62rem;}
	.android-swiper{width: 100%;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.android-img{width: 68%;margin: .3rem auto 0;height: 5rem;}
	.android-pic{display: flex;align-items: center;}
	.android-logo{width: 4rem;margin-left: 1.4rem;}
	.android-app{width: .6rem;margin-left: .3rem;}
	.android-word{width: 100%;margin-top: .4rem;}
	.android-word>p{font-size: .5rem;margin: .3rem auto .1rem;width: 100%;}
	.android-download{display: flex;justify-content: space-between;}
	.android-download>a{display: block;font-size: 0;margin: .2rem auto 0;height: .7rem;}
	.code{display: none;}
	.example{width: 90%;display: flex;justify-content: space-around;flex-wrap: wrap;margin: 0.8rem auto 0;}
	.example>li{width: 84%;margin-bottom: .4rem;}
	.example>li>img{margin-right: .25rem;width: 1rem;}
	.example-list>h5{font-size: .36rem;margin-bottom: .1rem;}
	.example-list>p{font-size: .27rem;line-height: .4rem;}
	.movie{width: 100%;height:3.28rem;background: url(../images/movie-bg.png) no-repeat center;background-size: 100% 100%;position: relative;}
	.movie-text{position: absolute;width: 100%;text-align:center;bottom: 20px;left: 50%;transform: translateX(-50%);margin: 0 auto;}
	.movie-text>h5{font-size: .50rem;line-height: 1.1rem;}
	.movie-text>p{font-size: .3rem;}
	.tv{width: 100%;height: 6rem;}
	.tv-swiper{display: flex;align-items: center;flex-wrap: wrap;width: 100%;margin: 0 auto;}
	.tv-img{margin: .6rem auto 0;    width: 6.53rem;height: 4.2rem;}
	.tv-text{color: #000000;width: 100%;text-align: center;margin: 0;}
	.tv-text>h5{font-size: .5rem;line-height: 1.1rem;}
	.tv-text>p{font-size: .3rem;}
	.handle{margin: .5rem auto 0;width: 100%;height:3.28rem;background: url(../images/handle-bg.png) no-repeat center;background-size: 100% 100%;position: relative;}
	.handle-text{position: absolute;bottom: .2rem;width: 100%;text-align: center;color: #000000;margin: 0;}
	.handle-text>h5{font-size: .5rem;line-height: .9rem;}
	.handle-text>span{display:none;}
	.handle-text>p{display: block;font-size: .3rem;line-height: .4rem;}

	/* 误导本页 */
	.report-intro{height: 9.0rem;width: 100%;background: url(../images/intro-bg.png) no-repeat center 0;background-size: 100% 3.62rem;}
	.report-swiper{width: 100%;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.report-word{width: 100%;margin-top: .4rem;}
	.codes>img{position: absolute; top: .5rem; right: .7rem; width: 5.63rem; height: 3.81rem}

	.report-word>h2{    font-size: .4rem;margin: 5.2rem auto .1rem;width: 100%;}
	.report-word>span{    font-size: .36rem;width: 100%;}
	.report-word>p{    font-size: .26rem;width: 90%;color: #474545; margin: .3rem  auto .2rem}


	.leave{width: 100%;display: flex;justify-content: space-around;flex-wrap: wrap;margin: 0.1rem  0;}
	.leave>li{width: 100%;margin-bottom: .4rem;}

	.leave>li>h2{font-size: .36rem;color: #000000;line-height: .42rem;margin: .2rem .2rem;}
	.leave>li>p{color: #474545;font-size: .28rem;line-height: .4rem; margin: .2rem .2rem;
		float: left; width: 90%}

	.le_img{float: left;width: 7rem;height: 4.5rem;line-height: .3rem; flort:left}

	.down{width: 100%;height:3.58rem;background: url(https://www.dytt8899.com/app/images/gn.png) no-repeat center;background-size: 100% 100%;position: relative;}
	.down-text{position: absolute;width: 100%;text-align:center;bottom: 1rem;left: 50%;transform: translateX(-50%);margin: 0 auto;}
	.down-text>h5{font-size: .50rem;line-height: 1.1rem;}
	.down-text>p{font-size: .3rem;}
	.down-download{display: flex;justify-content: space-between;}
	.down-download>a{display: block;font-size: 0;margin-top:0.1rem ;height: .3rem; margin-left:1.8rem;margin-bottom: 0.1rem}
	.down-download>a>img{display: block; width: 4rem; height: 1rem; }

	.bottom>p{font-size:.2rem;color: #000000;text-align: center;margin-top: .3rem;line-height: .2rem;}


	/* pc手机版介绍 */
	.pint-intro{height: 2.0rem;width: 100%;background: url(../images/intro-bg.png) no-repeat center 0;background-size: 100% 3.62rem;}
	.pint-swiper{width: 100%;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.pint-word{width: 100%;margin-top: .4rem;}

	.pint-word>h2{    font-size: .4rem;margin: 0.3rem auto .1rem;width: 100%;text-align: center}
	/*.pint-word>span{    font-size: .36rem;width: 100%;}*/
	/*.pint-word>p{    font-size: .26rem;width: 90%;color: #474545; margin: .3rem  auto .2rem}*/


	.peave{width: 100%;display: flex;justify-content: space-around;flex-wrap: wrap;margin: 0.1rem  0;}
	.peave>li{width: 100%;margin-bottom: .4rem;}

	.peave>li>h2{font-size: .36rem;color: #000000;line-height: .42rem;margin: .2rem .2rem;}
	.peave>li>p{color: #474545;font-size: .26rem;line-height: .4rem; margin: .2rem .1rem;
		float: left; width: 90%}
	.peave>li>p>img{float: left;width: 100%; height: 4rem; margin: .2rem  0rem .2rem .2rem;}






	/* 安卓手机版介绍 */
	.aint-intro{height: 2.0rem;width: 100%;background: url(../images/intro-bg.png) no-repeat center 0;background-size: 100% 3.62rem;}
	.aint-swiper{width: 100%;margin: 0 auto;display: flex;justify-content: space-between;flex-wrap: wrap;}
	.aint-word{width: 100%;margin-top: .4rem;}

	.aint-word>h2{    font-size: .4rem;margin: 0.3rem auto .1rem;width: 100%;text-align: center}
	/*.pint-word>span{    font-size: .36rem;width: 100%;}*/
	/*.pint-word>p{    font-size: .26rem;width: 90%;color: #474545; margin: .3rem  auto .2rem}*/


	.aeave{width: 100%;display: flex;justify-content: space-around;flex-wrap: wrap;margin: 0.1rem  0;}
	.aeave>li{width: 100%;margin-bottom: .4rem;}

	.aeave>li>h2{font-size: .36rem;color: #000000;line-height: .42rem;margin: .2rem .2rem;}
	.aeave>li>p{color: #474545;font-size: .26rem;line-height: .4rem; margin: .2rem .1rem;
		float: left; width: 90%}
	.aeave>li>p>i{color: #999;font-size: .22rem;line-height: .4rem; margin: .2rem .1rem;
		float: left; width: 90%}
	.aeave>li>p>img{float: left;width: 100%; height: auto; margin: .2rem  0rem .2rem .2rem;}




}
