html,body{height:100%;}
div{padding:0;}
.container{width:960px;height:100%;margin:0!important;}
.row{height:100%;}
.left-bar{border-right:1px solid #e1e1e8;height:100%;padding:0!important;}
.logo{
	border-bottom:1px solid #e1e1e8;
	background:url(/resource/image/logo-64.png) no-repeat left center;
	width:100%;
	padding:20px 10px 20px 70px;
	font-size:32px;
	font-weight:bold;
	color:#666;
}
.topic{border-bottom:1px dotted #e1e1e8;padding:10px;cursor: pointer;position: relative;}
.topic:hover{background:#F5F5F5;}
.content{
	border-right:1px solid #e1e1e8;
	height:100%;
	background:#f7f7f9;
	padding:20px;
	line-height:180%;
	font-size:14px;
	overflow-y:auto;
}
.content div,.content p{margin:10px;}
.topic-body{display:none}
.content .actived{display:block!important;}
.quote{font-size:12px;margin:10px;}
.left-bar .actived{color:#e74c3c;}
.left-bar .actived em{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid #e1e1e8;
	border-bottom: 10px solid transparent;
	position:absolute;
	top:10px;
	right:-1px;
}
.left-bar .actived span{
	width: 0;
	height: 0;
	border-top: 9px solid transparent;
	border-right: 8px solid #f7f7f9;
	border-bottom: 9px solid transparent;
	position:absolute;
	top:11px;
	right:-1px;
}
.red-badge{background-color:#e74c3c!important;color:#FFF!important;}
td{font-weight:normal;font-size:14px;vertical-align:middle!important;}