html{height:100%;-webkit-font-smoothing:antialiased;}
body{height:100%;}
button:focus,a:focus{outline:none;outline:0!important;}
textarea{resize:none}
.toolbar .head{padding:10px;}
.full-height{height:100%!important;margin:0!important;padding:0!important;}
.toolbar .column{font-size:18px;color:#666;display:inline-block;text-align:center;vertical-align:middle;}
.stat{padding:0 20px;}
.stat-done{border-left:1px solid #ddd; border-right:1px solid #ddd;color:#53c565!important;}
.stat-todo{text-align:center;vertical-align:middle;color:#e74c3c!important;}
.toolbar .column div{font-size:12px;color:#999;}
.clock{text-align: center;border-bottom:1px solid #ddd;}
.process{margin:10px auto;}
#today{height:100%;background:#fff;color:#666;border-right: 1px solid #ddd;overflow-y:auto;overflow-x:hidden;}
#today .item{padding:10px;border-bottom: 1px solid #EEE;border-left:6px solid #ddd;position: relative;}
#today .item .title{font-size:14px;color:#333;}
#today .item .memo{display: none;}
#today .item .duration{display: inline-none;margin-right:5px;}
#today .item .tomatos{display:inline-block;}
#today .item .tomatos span{display:inline-block;margin:0 2px;}
.tag{margin-right:5px;}
.todo-list .item .info{padding:5px 0 0 0;font-size:12px;color:#CCC;margin:0;}
.todo-list .item .drawer-trigger{cursor:pointer;position:absolute;right:0;top:0px;bottom:0;padding:22px 10px;font-size:14px;}
.todo-list .item .drawer-trigger:hover{color:#e74c3c;}
#today .overdue{border-left:5px solid orange;}
#today .ongoing{border-left:5px solid #e74c3c;}
#today .ongoing .title{color:#e74c3c!important;}
#today .done{background:#F5F5F5;border-left:5px solid #999;}
#today .done .title{text-decoration:line-through;color:#999;}
.topbar{padding:5px;background:#f5f5f5;position:relative;}
.no-radius{border-radius:0!important}
.hovered .duration,.hovered:not(.done) .title, .hovered .tomatos{color:#AAA!important;}
.hovered{border-bottom:1px solid #EEE!important;}
.todo-list .hovered{cursor: pointer;}
.indicator{color:#e74c3c;font-size:12px;display:inline-block;margin:0 2px;}
.memo{padding:10px;background:#F5F5F5;font-size:12px;line-height:180%;border-bottom:1px solid #EEE;display:none; position:relative;color:#999;}
#tomorrow .memo{background:#FFF;}
.task-form .title{padding:10px;font-size:14px!important;width:100%;color:#999;border-width: 1px 0 1px 0;border-style: solid;border-color:#DDD #FFF #EEE #FFF;border-radius:0!important;}
.task-form .form-panel{padding:10px;width:100%;border-width: 0 0 1px 1px;border-style: solid;border-color:#ddd;display:none;height:200px;box-shadow:0 0 8px 1px #ddd;}
.task-form .memo{height:80px;margin:10px 0;font-size:12px;line-height:150%}
.task-form .cancel{font-size:12px;display:inline-block;margin-left:10px;}
.task-form .clockpicker{float:left;width:125px;}
.task-form .clockpicker-separator{float:left;padding:5px 10px 0 10px;}
.task-form .input-group-addon{border-right:1px solid #ddd!important;}
.summary{padding:10px;}
.summary > div{margin:8px 0;}
.summary span{color:#666;font-size:12px;}
#total-tomatos,#total-duration{color:#e74c3c;}
.no-task{text-align:center; margin:20px auto;font-size:20px;}
.no-task div{margin-top:10px;}
.memo em{
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom-width: 12px;
    border-bottom-style: solid;
	position: absolute;
	top:-12px;
	right:60px;
}
.memo span{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 11px;
    border-bottom-style: solid;
	position: absolute;
	top:-10px;
	right:61px;
}

#today .memo em{
	border-bottom-color: #EEE;
}
#today .memo span{
	border-bottom-color:#F5F5F5 ;
}
#tomorrow .memo em{
	border-bottom-color: #EEE;
}
#tomorrow .memo span{
	border-bottom-color: #FFF;
}

#tomorrow{border-left:1px solid #ddd;background:#F5F5F5;box-shadow:1px 0 5px 1px #ddd inset;}
#tomorrow .item{border-bottom:1px solid #EEE;padding:8px 10px;position: relative;min-height:60px;}
#tomorrow .item .title{color:#999!important;font-size:14px;font-weight:normal;}
#tomorrow .toolbar .column{color:#999;font-size:18px;}
#tomorrow .task-form .input-group-addon{border-left:none;}

.drawer{position: absolute;overflow:hidden;top:-1px;right:0;z-index:1;display:none;border-width:1px 0;border-style:solid;border-color:#eee;}
.drawer .trigger{display:inline-block;padding-top:15px;height:100%;}
#today .drawer .trigger{background:url('../image/right_border_shadow.jpg') repeat-y right top;}
#tomorrow .drawer .trigger, .done .drawer .trigger{background:url('../image/right_border_shadow_dark.jpg') repeat-y right top!important;}
.drawer .trigger span{font-size:14px!important;color:#999;}
.drawer .hovered span{color:red!important;}
.drawer a{display:inline-block;height:100%;background:#F5F5F5;padding:0 12px;font-size:12px;text-align: center;text-decoration: none;color:#666;float: right;}
.drawer a:not(:first-child){border-right:1px solid #eee;}
.drawer a:hover{text-decoration:none;background:#FAFAFA;color:#666;}
.drawer a:focus{outline:none;}
.drawer a:active{background:#fff;}
.drawer .glyphicon{font-size:18px!important;}
.drawer span{display: inline-block;padding:10px;}
#task-edit-panel{display: none;width:360px;}
/*calendar*/
.calendar{margin:0;}
.clndr-table{width:90%;border-collapse:collapse;margin-left:-1px;margin:0 auto;}
.clndr-controls{position:relative;text-align:center;padding:5px 0;}
.clndr-controls .month{margin:0 auto;}
.clndr-control-button{position:absolute;}
.clndr-control-button:first-child{left:0px;top:4px;}
.clndr-control-button:last-child{right:0px;top:4px;}
.clndr-table td{border:1px solid #ddd;padding:8px;}
