tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:windowtext;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:white;
	mso-pattern:black none;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:center;
	background:white;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl69
	{mso-style-parent:style0;
	color:white;
	font-size:11.0pt;
	font-weight:700;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#C00000;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl71
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	mso-number-format:"\0022\00A5\0022\#\,\#\#0\;\0022\00A5\0022\\-\#\,\#\#0";
	text-align:center;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	background:white;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	background:white;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	color:white;
	font-size:26.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;
	background:#C00000;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl80
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:11.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl83
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:.5pt solid windowtext;}
