html, body {
    position: relative;
    height: 100%;
    overflow-x: hidden!important;
    font-family: 'PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.wrap{
    position: relative;
    height: 100%;
    font-family: 'PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif;   
}
body {
    background: #fff;    
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
i {
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}

.logo-con {
    height: 64px;
    background-color: #fff;
}
.logo-con .wrapper {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.logo-con .wrapper .item-con-logo {
    display: inline-block;
    width: auto;
    height: 30px;
    margin: 9px 20px;
}
.logo-con .wrapper .left {
    height: 48px;
}
.logo-con .wrapper .right {
    height: 31px;
    margin-top: 20px;
}
.logo-con .wrapper .item-con-logo img{
    height:100%;
}

.container-bottom {
    margin: 0 auto;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    /* position: fixed; */
    bottom: 0;
}
.footer {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}
.container-bottom a, .container-bottom span {
    color: #666;
    text-decoration: none;
}
.footer * {
    vertical-align: middle;
}
.footer .sns {
    text-align: center;
    position: relative;
    display: inline-block;
    margin-left: 40px;
}
.footer .sns .title {
    display: inline-block;
    color: #666;
}
.footer .sns .wechat {
    position: relative;
}
.footer .sns .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.footer .sns .icon.wechat .popup_wechat {
    display: none;
    position: absolute;
    padding: 15px;
    bottom: 35px;
    left: 50%;
    background: #fff;
    border: 2px solid #000;
    z-index: 15;
    transform: translateX(-50%);
}
.footer .sns .icon.wechat .popup_wechat h3 {
    margin: 0 0 20px 0;
    font-size: 12px;
    white-space: nowrap;
    line-height: 1.5em;
    border-bottom: 1px solid #969696;
    color: #666;
}
.footer .sns .icon.wechat .popup_wechat p {
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    white-space: nowrap;
    color: #666;
}
.footer .sns .icon img {
    width: 100%;
    height: auto;
}
.footer .sns .icon.wechat .popup_wechat.open {
    display: block;
    animation: anim_wechat_qr .5s ease-out;
}
.footer .sns .icon.wechat .popup_wechat:after {
    position: absolute;
    bottom: -12px;
    left: calc(50% - 11px);
    content: " ";
    pointer-events: none;
    width: 20px;
    height: 13px;
    background: url(../img/fukidashi_arrow.png) 0 0 no-repeat;
    background-size: 100% 100%;
}
/* 第一屏 */
.con-1 {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #5cabf2;
}
.img-con-light {
    position: relative;
    display: block;
    width: 500px;
    margin: 0 auto;
    height: 400px;

    transform-origin: 50% 0%;     
    transform:scale(0.8);
}
.img-con img{
    width: 100%;
}
.img-con-light img {
    width: 150%;
    margin-left: -25%;
    margin-top: -10%;
}
.light {
    position: absolute;
    left: 0px;
    top: -20px;
    display: inline-block;
    width: 500px;
    transition: all 0.5s;
    transform: scale(1, 1);
    opacity: 0;
}
.text-con {
    width: 1200px;
    margin: 0 auto;
    height: auto;   
    transition: opacity 0.2s;
    margin-top: -370px;   
}
.big-title {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    text-align: center;

    transition: all 0.2s;    
    opacity: 0;
}
.text-con .title {
    font-size: 25px;
    padding: 14px;
    width: 500px;
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;

    transition: all 0.2s;    
    opacity: 0;
}
.text-con .title .show{
    color: #fec55b;
    font-size: 30px;
    font-weight: 800;
}
.des {
    font-size: 18px;
    color: #fff;
    text-align: center;
    transition: all 0.5s;
    opacity: 0;   
}
.img-con {
    position: relative;
    display: block;
    width: 1200px;
    margin: 0 auto;
    height: 243px;
    margin-top: 60px;
    transition: all 0.5s;
    transform: scale(0,0);
    opacity: 0;
}
.guang-gao{
    position: absolute;
    z-index: 1;
    line-height: 1em;
    padding: 5px 10px;
    background-color: #cccccc;
    text-align: center;
    font-size:16px;
    border: 1px solid #dddddd;
    right: 20px;
    top: 20px;
}

.section1.active .light{
    transition-delay: 0.5s;
    transform: scale(1, 1);
    opacity: 1;
}

.section1.active .des{
    opacity: 1;    
    transition-delay: 0.5s;
}
.section1.active .img-con{
    opacity: 1;
    transform: scale(1,1);
    transition-delay: 0.5s;
}
.section1.active .big-title,.section1.active .title{
    opacity: 1;    
    transition-delay: 0.5s;
}


/* 第二屏 */
.con-2 {
    width: 100%;
    height: 100%;
    background-image: url(../img/s2/bg.jpg);
}
.big-con {
    position: relative;
    height: 300px;

    
}
.pc-con {
    position: absolute;    
    left: 54%;
    margin-left: -400px;
    top: 0px;
    width:800px;
}
.pc-con  img{
    width:100%;
}
.desk-jing {
    position: relative;
    opacity: 1;   
    width: 843px;
    margin: 0 auto;
    margin-top:-60px;
    height: 353px;
}
.beforend-con {
    position: absolute;
    left: 0px;
    top: 0px;
}
.beforend-con .cam {
    position: absolute;
    display: inline-block;
    left: 27px;
    top: 57px;
}
.beforend-con .pc {
    position: absolute;
    display: inline-block;
    left: 390px;
    top: 60px;
}
.tag-con {
    position: relative;
    width: 635px;
    margin: 0 auto;
    height: 100px;

    /* transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0; */
}
.zhibo-huiyi {
    position: absolute;
    display: block;
    margin: 40px 0px;
}
.zhibo-huiyi .item {
    display: inline-block;
    height: 50px;
    padding: 0px 30px;
    border-right: 1px solid #666;
    width: 256px;
    cursor: pointer;
}
.zhibo-huiyi .item:nth-child(2) {
    border:0px;
}
.des-con p {
    color: #666;
    font-size: 20px;
    text-align: center;

    transition: all 1s;
    opacity:0;
}
.btn-con-zhi{
    opacity: 0;
}




.gou{
    opacity: 0;
    transition: all 1s;
}
.zhibo{
    transition: all 1s;
    opacity: 0;
}
.huiyi{    
    transition: all 1s;
    opacity: 0;
}
.btn-con{
    opacity: 1;
    margin-bottom: 80px;
}
.des-con{
    margin-bottom:0px;
}
.hui{
    transition: all 1s;
    transform: translateX(1500px);
    opacity: 0;
}
.section2.active .hui{
    opacity: 1;
    transform: translateX(50px);
    transition-delay: 0.5s;
}
.section2.active .zhibo{
    opacity: 1;    
    transition-delay: 1s;
}
.section2.active .gou,.section2.active .huiyi{
    opacity: 1;    
    transition-delay: 3.5s;
}

.section2.active .des-con p{
    opacity: 1;    
    transition-delay: 1s;
}
/* 第三屏 */
.con-3 {
    position: relative;
    width: 100%;
    height: 100%;
}
.up-con {
    width: 100%;
    height: 400px;
    background-color: #5dbde4;
    overflow: hidden;
    position: relative;
}
.up-con-title {
    position: absolute;
    width: 100%;
    display: inline-block;
    padding: 40px 0px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    left: 0px;
}
.slec-con-up {
    position: absolute;
    height: auto;
    text-align: center;
    display: block;
    margin-top: 122px;
    width: 964px;
    margin-left: 50%;
    left: -482px;
}
.slec-item {
    display: inline-block;
    float: left;
    height:auto;
}
.slec-item .img {
    display: inline-block;
    height: 191px;
    width: 166px;
}
.slec-item .icon {
    display: inline-block;
    width: 100px;
    font-size: 20px;
    height: 120px;
    color: #fff;
    line-height: 120px;
}
.con-tip {
    color: #fff;
    clear: both;
    font-size: 18px;
    margin-top:30px;

}
.qie-con{
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%; 
    bottom: 10px;
}
.ct-item{
    display: inline-block;
    margin:0px 10px;
    cursor: pointer;
    color:#fff;
    width:10px;
    height:10px;
    background-color: #fff;
    border-radius: 10px;
}
.ct-acitve{
    background-color:#000!important;
}
.down-con{
    text-align: center;
}
.down-con .no-dot{
    margin-left:30px;
}
.down-con-title {
    display: block;
    text-align: center;
    font-size: 35px;
    color: #5dbde4;
    /* font-weight: 200; */
    margin-top: 80px;
}
.bottom-line {
    display: block;
    height: 1px;
    background-color: #5dbde4;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 10px;
}
.slec-con-bottom {
    position: relative;
    height: auto;
    text-align: center;
    display: inline-block;
    width: 925px;
}
.slec-item-down {
    display: inline-block;
    width: 170px;
    height: 245px;
    float: left;
    padding: 0px 30px;
    border-right: 1px dotted #666;
}
.slec-item-down:nth-last-child(1){
    border-right:0px;
}
.slec-item-down .img {
    display: inline-block;
    width: 156px;
    height: 156px;
}
.slec-item-down .img img {
    width: 100%;
}
.slec-item-down .title {
    font-size: 16px;
    color: #666;
    text-align: center;
    margin-top: 30px;
}
.text-con-3 {
    border-top: 1px solid #5dbde4;
    border-bottom: 1px solid #5dbde4;
    height: 180px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.text-left {
    display: inline-block;
    border-right: 1px solid #5dbde4;
    height: 160px;
    margin: 10px;
    padding-right: 10px;
    padding-left: 30px;
    line-height: 160px;
    float: left;
    font-size: 18px;
    color:#666;
}
.text-right {
    display: inline-block;
    width: 800px;
    font-size: 16px;    
    text-align: left;
    line-height: 30px;
    padding: 15px 0px;
    clear: both;
}
.text-right p{
    clear: both;
    display: inline-block;
    margin: 4px;
    line-height: 23px;
    color:#666;
}
.text-right p i {    
    color: #5dbde4;
    display: inline-block;
    height: 10px;
    width: 10px;
    font-size: 10px;
    font-weight: 800;
    margin: 0px 10px;   

}
.text-right.up{
    border-bottom: 1px solid #5dbde4;
}
.text-bottom-3 {
    width: 1000px;
    margin: 0px auto;
    text-align: right;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
    color:#666;
}

.eos-1,.title-1{
    transform: scale(1,1);
    transition: all 1s;
    opacity: 1;
}

.eos-2{
    width: 750px;
    margin-left: -373px;
    left: 50%;
    opacity: 0;
    transform: scale(0,0);
    transition-property: transform,opacity;
    transition-duration:1s;   
}

.title-2{
    opacity: 0;
    transition:opacity 1s;
}

.item-anima1{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima2{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima3{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima4{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima5{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima6{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.item-anima7{
    transform: scale(0.5,0.5);
    transition: all 1s;
    opacity: 0;
}

.section3.active .item-anima1{
    opacity: 1;    
    transition-delay: 0.9s;
    transform: scale(1,1);
}
.section3.active .item-anima2{
    opacity: 1;    
    transition-delay: 0.7s;
    transform: scale(1,1);
}
.section3.active .item-anima3{
    opacity: 1;    
    transition-delay: 0.5s;
    transform: scale(1,1);
}
.section3.active .item-anima4{
    opacity: 1;    
    transition-delay: 0.3s;
    transform: scale(1,1);
}
.section3.active .item-anima5{
    opacity: 1;    
    transition-delay: 0.5s;
    transform: scale(1,1);
}
.section3.active .item-anima6{
    opacity: 1;    
    transition-delay: 0.7s;
    transform: scale(1,1);
}
.section3.active .item-anima7{
    opacity: 1;    
    transition-delay: 0.9s;
    transform: scale(1,1);
}
.section3.active .eos-1,.section3.active .title-1{
    opacity: 0;    
    transition-delay: 2s;
    transform: scale(0,0);
}
.ct{
    background-color: #000;
    transition: background-color 1s;
}
.section3.active .ct{
    transition-delay: 2s;
    background-color: #fff;
}
.xd{
    background-color: #fff;
    transition: background-color 1s;
}
.section3.active .xd{
    transition-delay: 2.5s;
    background-color: #000;
}
.section3.active .eos-2,.section3.active .title-2{
    opacity: 1;    
    transition-delay: 2.5s;
    transform: scale(1,1);
}

/* 第四屏 */
.con-4 {
    width: 100%;
    height: 100%;
}
.con-4 .up-con {
    display: block;
    height: 65%;
    width: 100%;
    background-color: #eaf0f3;
}
.con-4 .up-con .up-con-title {
    font-weight: 600;
    font-size: 35px;
    color: #333;
    text-align: center;
}
.up-con-title {
    position: absolute;
    width: 100%;
    display: inline-block;
    padding: 40px 0px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    left: 0px;
}
.up-type-con {
    display: block;
    width: 1200px;
    margin: 0 auto;
    padding-top: 122px;
}
.item-con {
    display: block;
    clear: both;
    height: auto;
    margin-bottom: 40px;
    overflow: hidden;
}
.item-con .title {
    display: inline-block;
    /* width: 100%; */
    text-align: left;
    border-bottom: 2px solid #5cabf2;
    float: left;
    margin-bottom: -3px;
    padding-bottom: 5px;
    font-size: 16px;
}
.type-con {
    display: block;
    width: 100%;
    border-top: 1px solid #5cabf2;
    padding: 10px 0px;
    clear: both;
    text-align: left;
}
.type-con .row {
    display: inline-block;
    width: 180px;
    height: auto;
    float: left;
    margin-right: 20px;
}
.type-con .row .coll {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    width: 100%;
    padding: 5px 0px;
    text-align: left;
    font-size: 16px;
    /* font-weight: 200; */
    color:#666;
}
.con-4 .down-con {
    display: block;
    width: 1200px;
    margin: 0 auto;
}
.con-4 .down-con p {
    /* font-weight: 200; */
    text-align: left;
    font-size: 18px;
    color:#666;
}
p>i {
    color: #5dbde4;
    display: inline-block;
    height: 30px;
    width: 10px;
    font-size: 10px;
    font-weight: 800;
    margin: 0px 10px;
    line-height: 23px;
    float: left;
}
/* 第五屏 */
.con-5 {
    width: 100%;
    text-align: center;
}
.down-con-title i {
    font-style: normal;
}
.con-mid-5 {
    width: 100%;
    height:560px;
    background-color: #5cabf2;
    margin-bottom: 60px;
}
.con-mid-5 .wrapper {
    width: 1200px;
    margin: 0 auto;
}
.md-title-5{
   color:#fff;
   padding-top:60px;
}
.win-item {
    display: inline-block;
    width: 350px;
    height: auto;
    margin: 10px 0px;
    float: left;
    border-right: 1px solid #fff;
    padding: 0px 20px;
}
.win-item .img img {
    width: 100%;
}
.win-item .title {
    display: inline-block;
    height: 30px;
    width: 100%;
    color: #fff;
    line-height: 30px;
    font-size: 20px;
}
.btn-con .btn {
    display: inline-block;
    width: 468px;
    cursor: pointer;
    transform: scale(1,1);
    transition: transform 0.5s ease;
}
.btn-con .btn:hover {
    transform: scale(1.1,1.1);
}
.win-item:nth-last-child(1){
    border-right: 0px;
}
.eos-2 .text{
    margin-left:1%;
}
.guanggao-con{
    position: absolute;;
    top:50%;
    right:5%;
    width:180px;
    margin-top:-120px;
}
.guanggao-con img{
    width:100%;
}
.m-tag{
    display:none;
}

@media (min-device-height:400px) and (max-device-height:768px){     
    .img-con-light{
        width:300px;
        height: 150px;
    }
    .des{
        /* margin:10px; */
        font-size: 16px;
    }
    .light{
        width:300px;
    }
    .text-con{
        width:800px;
        margin-top: -135px;
    }
    .big-title{
        font-size: 35px;        
        margin: 10px 0px;
        margin-bottom: 20px;
    }
    .text-con .title .show{
        color: #fec55b;
        font-size: 25px;
        font-weight: 800;
    }
    .text-con .title{
        width:440px;
        margin-bottom: 10px;
        padding: 6px;
        font-size: 18px;
    }
    .img-con{
        width: 800px;       
        height: 250px;
        margin-top: 60px;
    }
    .img-con img{
        width:100%;
    }
    .pc-con {
        position: absolute;
        left: 60%;
        margin-left: -400px;
        top: 0px;
        width: 700px;
    }
    .desk-jing{
        width:590px;
        height: 247px;
    }
    .desk-jing img{
        width:100%;
    }
    .beforend-con .cam{
        width: 65px;
        left: 20px;
        top: 40px;
    }
    .beforend-con .pc{
        width: 152px;
        left: 273px;
        top: 41px;
    }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 767px) {
    .guanggao-con{
        display:none;
    }
    .m-tag{
        display:block;
        width: 100%;
    }
    .m-tag img{
        width:100%;
    }
    .img-con-light {
        position: relative;
        display: block;
        width: 340px;
        margin: 0 auto;
        height: 400px;
    }
    .light {
        width:100%;
    }
    .text-con{
        width:100%;
        margin-top: -365px;
    }
    .big-title {
        font-size: 30px;
        width: 94%;
        padding: 0 3%;
        margin-bottom: 20px;
    }
    .text-con .title {
        font-size: 16px;
        padding: 6px;
        width: 85%;
        margin-bottom: 30px;
    }
    .des {
        font-size: 16px;
        width: 90%;        
        padding: 0 5%;
    }
    .img-con{
        width:100%;
        height: 76px;
    }
    .img-con img{
        width: 150%;
        margin-left: -24%;
        margin-top: -10%;
    }

    .big-con{
        width:100%;
        height:270px;
    }
    .pc-con{
        top: 120px;
        width:90%;
        left: 0%;
        margin-left: 5%;
    }
    .pc-con img{
        width:100%;
    }

    .con-2 {
        width: 100%;
        height: 100%;
        background-image: url(../img/s2/moblie_bg.jpg);
    }

    .hui{
        transition: all 1s;
        transform: translateX(500px);
        opacity: 0;
    }
    .section2.active .hui{
        opacity: 1;
        transform: translateX(0px);
        transition-delay: 0.5s;
    }
    .desk-jing{
        width: 90%;
        height: 150px;
        margin-top: -40px;
    }
    .desk-jing img{
        width: 100%;
    }
    .tag-con{
        width:100%;
    }
    .zhibo-huiyi{
        width:100%;
    }
    .zhibo-huiyi .item{
        height: 39px;
        width:39%;
        padding: 0px 5%;
    }
    .zhibo-huiyi .item img{
        width:100%;
        
    }
    .des-con p{
        font-size: 16px;
        width: 90%;
        margin: 0 5%;
    }

    .down-con-title{
        font-size: 25px;
        margin-top: 35px;
    }
    .slec-con-bottom{
        width: 94%;
        padding: 0 3%;
    }
    .slec-item-down {
        display: table;
        width: 100%;       
        padding: 0%;
        border-bottom: 1px dotted #666;
        height: 100%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        border-right: 0px;
    }
    .bottom-line{
        margin-bottom: 35px;
    }
    .slec-item-down .img{
        width: 100%;
        height: 100px;
        float: left;
    }
    .slec-item-down .img img{
        width:100%;
    }
    .slec-item-down .title{
        font-size: 14px;
        width: 70%;
        text-align: left;
        display: table-cell;        
        margin-top: 27px;
        vertical-align: middle;
        padding-left: 5%;
    }
    .slec-item-down:nth-last-child(1){
        border-bottom: 0px;
    }
    .text-con-3{
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }
    .text-bottom-3 {
        margin-bottom: 0px;
    }
    .text-right{
        width: 65%;
        font-size: 14px;
        float: right;
    }
    .text-right p{
        width:100%;
    }
    .text-right .text,.down-con .text-1{
        display: block;
        width: calc(100% - 40px);
        margin-left: 30px;
    }
    .text-left {
        display: block;
        border-right: 1px solid #5dbde4;
        margin: 5px;
        padding-right: 5%;
        padding-left: 5%;
        float: left;
        font-size: 16px;
        position: absolute;
        height: calc(100% - 20px);
        width: 20%;
    }
    .text-left .text{
        display: block;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        line-height: 30px;       
        left: 10%;
        width: 80%;
    }
    .slec-con-up {
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
    .slec-item{
        width: 20%;
    }
    .slec-item .img{
        width:100%;
        height: 100px;
    }
    .slec-item .img img{
        width:100%;
    }
    .up-con{
        height: 340px;
    }
    .up-type-con{
        width: 94%;
    }
    .type-con {
        display: block;
        width: 100%;
        border-top: 1px solid #5cabf2;
        padding: 10px 0px;
        clear: both;
        text-align: left;
        height: 100%;
        overflow: hidden;
    }
    .item-con{
        margin-bottom: 20px;
    }
    .md-title-5{
        color:#fff;
        padding-top:0px;
     }
    .type-con .row{
        /* clear: both; */
        width:45%;
        margin-right: 0px;
        height:30px;
    }
    .row.block{
        clear: both;
        display: block;
        height: 30px;
    }
    .con-4 .down-con{
        width:94%;
    }
    .con-4 .down-con p{
        font-size: 16px;
    }
    .con-mid-5{
        width: 100%;   
        height: 100%;
        overflow: hidden;
        padding-bottom:30px;
    }
    .con-mid-5 .wrapper{
        width:90%;
        margin-top: 20px;
    }
    .win-item{
        width: 90%;
        padding: 0px 5%;
        border-right:0px;
        margin: 10px 0px;
    }
    .win-item .img{
        width:100%;
    }
    .win-item .img img{
        width:100%;
    }
    .win-item .title{
        font-size: 16px;
    }
    .btn-con .btn{
        width:80%;
    }
    .btn-con .btn a{
        width:100%;
    }
    .btn-con .btn a img{
        width:100%;
    }
    .footer {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        height: 125px;
    }
    .container-bottom>a, .container-bottom>span {
        color: #666;
        font-size: 12px;
        display: block;
        margin-top: 5px;
        text-decoration: none;
    }
    .footer .sns {
        text-align: center;
        position: relative;
        display: block!important;
        margin-left: 0;
        font-size: 12px;
        margin-top: 10px;
    }
    .btn-con {
        opacity: 1;
        margin-bottom: 60px;
    }

    .beforend-con{
        width:100%;
    }
    .beforend-con .cam{
        width: 10%;
        left: 4%;
        top: 23px;
    }
    .beforend-con .pc{
        width: 26%;
        left: 46%;
        top: 24px;
    }
    .eos-2{
        margin-top: 140px;
    }
    .eos-1 .icon {
        display: inline-block;
        width: 75%;
        font-size: 20px;
        height: 50px;
        color: #fff;
        line-height: 50px;
    }
    .eos-2 .icon {
        display: inline-block;
        width: 75%;
        font-size: 20px;
        height: 65px;
        color: #fff;
        line-height: 65px;
    }
    .item-anima1,.item-anima3,.item-anima5,.item-anima7{
        width:21%;
    }
    .item-anima2,.item-anima4,.item-anima6{
        width:5%;
    }
    .item-anima1-es,.item-anima3-es,.item-anima5-es{
        width:25%;
    }
    .item-anima2-es,.item-anima4-es{
        width:10%;
    }
    .eos-2 .text{
        margin-left:5%;
    }
    .con-tip{
        width: 94%;
        margin: 0 3%;
    }
    .up-con-title{
        font-size: 25px;
    }
    .down-con .no-dot{
        margin-left:30px;
    }
    .guang-gao{
        font-size: 2.5vw;
        right: 15px;
        top: 15px;
    }
}