* {
    margin: 0;
    padding: 0
}

body {
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    font-family: "PingFangSC-Regular", "Microsoft YaHei", "Arial", "Helvetica", sans-serif;
    letter-spacing: 2px;
}

ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 60%;
    margin: 0px auto;
    padding: 60px 0;
}

h2,
.main {
    margin-bottom: 60px;
}

h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 400;
}

.main {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.img {
    position: relative;
    margin-bottom: 10px;
    height: 160px;
    border-radius: 8px;
    overflow: hidden;
}

.img img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.txt {
    letter-spacing: 0;
    padding: 15px 8px;
    color: #777;
}

h4 {
    color: #222;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.tip {
    margin: 10px auto;
}

.btn_load {
    display: block;
    width: 180px;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #044f75;
    border-radius: 2px;
    background: #056392;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .3);
    cursor: pointer;
}