

@import "./tailwind.css";

@import "./tailwind2.css";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.down-img {
    border-radius: 8px;
}
.download-icon-tooltip {
    background: #fff;
    white-space: nowrap;
    color: #0161FF;
    padding: 3px 14px;
    border-radius: 15px;
    display: none;
}
.download-icon {
    fill: #000;
}
.download-icon:hover {
    fill: #0161FF;
}
.group:hover .download-icon-tooltip {
    display: block;
}
.join-telegram-btn {
    background: #2381CC;
    color: #fff;
    padding: 7px 28px;
    border-radius: 34px;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.join-telegram-btn:hover {
    background: #000956;
}
.mt-180 {
    margin-top: 156px;
}
.get-more-info {
    color: #2381CC;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 8px;
}
.social-icon {
    width: 22px;
}

.terms-page {
    direction: ltr;
}
.policies-page {
    direction: ltr;
}