body,td{font-size:16px;line-height:25.5px;color:#001122}
table{border-collapse:collapse;cursor:default;}
table td{padding:0;}                             
input{height:30px;}


.pop{position:absolute;display:none;z-index:10}
.jq{font-size:13px;line-height:14px;color:blue}
.fes{font-size:13px;line-height:14px;}
.big2{font-size:24px;line-height:30px;}
.big3{font-size:29px;line-height:30px;}
.sel{background-color:#FFFFCC;height:30px;font-size:24px;}
.wn{height:60;color:#404040;font-size:13px;}
.spl{border-right:1px solid white;width:20%;}
.mt{background-color:#dddddd;text-align:center;height:36px;}
.round{overflow:hidden; height:1px; background-color: #cccccc}
