@font-face {font-family: "reading";
  src: url('https://sf1-hscdn-tos.pstatp.com/obj/iconfont/reading_c40ec3f3002c0c15b9c6b79a23026842.eot'); /* IE9*/
  src: url('https://sf1-hscdn-tos.pstatp.com/obj/iconfont/reading_c40ec3f3002c0c15b9c6b79a23026842.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('https://lf1-hscdn-tos.pstatp.com/obj/iconfont/reading_9ed267c3ad06627c50e82ba1bdff9838.woff') format('woff'),
  url('https://sf6-hscdn-tos.pstatp.com/obj/iconfont/reading_d031b46320ce30b44f66173d1722dc0d.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('https://sf3-hscdn-tos.pstatp.com/obj/iconfont/reading_2b29f540229c0f45fae9a04c426d6d94.svg#reading') format('svg'); /* iOS 4.1- */
}

[class^="reading-"], [class*=" reading-"] {
  font-family: 'reading' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.reading-arrow_back:before { content: "\ea01";}
.reading-colon:before { content: "\ea02";}
.reading-go_back:before { content: "\ea03";}
