* {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p.AnchorDisclaimer
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 35px;
  margin-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
p.AnchorGraphic, div.AnchorGraphic
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 25px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.AnchorHomeIcon, div.AnchorHomeIcon
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.AnchorInset, div.AnchorInset
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.AnchorTable, div.AnchorTable
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.3em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 35px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.AnchorTip
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 35px;
  margin-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
p.AnchorNote
{
  color: #000000;
  font-size: 0em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 35px;
  margin-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
p.Note, div.Note
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: -1em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Tip
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: -1em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Last_Tip, div.Last_Tip
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: -1.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Last_Note, div.Last_Note
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: -1.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Body, div.Body
{
  color: #000000;
  font-size: 0.7em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.125em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Body_First, div.Body_First
{
  color: #000000;
  font-size: 0.7em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.125em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Body_Text, div.Body_Text
{
  color: #000000;
  font-size: 0.7em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.125em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

div.Breadcrumbs
{
  color: #000000;
  font-size: 0.7em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Bullet_Indent, div.Bullet_Indent
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 3px;
  margin-left: 0px;
  margin-right: 0em;
  margin-top: 3px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.BulletInNoteTip, div.BulletInNoteTip
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.BulletInTable, div.BulletInTable
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0.7em;
  margin-right: 0em;
  margin-top: 0.0em;
  text-align: left;
  text-indent: -14.1732em;
  text-transform: none;
  vertical-align: baseline;
}

p.Callout, div.Callout
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.CalloutNumber, div.CalloutNumber
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Caption, div.Caption
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 18px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Caption1Line, div.Caption1Line
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.CaptionInTable, div.CaptionInTable
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0.0em;
  margin-right: 0.0em;
  margin-top: 0.0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.CaptionMultiLine, div.CaptionMultiLine
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.CaptionOneLine, div.CaptionOneLine
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.CaptionNoIndent, div.Caption
{
  color: #000000;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Chapter_Number, div.Chapter_Number
{
  color: #000000;
  font-size: 0.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Code, div.Code
{
  color: #000000;
  font-family: 'Courier New';
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Copyright
{
  color: #666666;
  font-size: 0.7em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 4em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Disclaimer, div.Disclaimer
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 3em;
  margin-right: 0em;
  margin-top: -1.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Glos_Definition, div.Glos_Definition
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Glos_Term, div.Glos_Term
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

h1.Heading_1, div.Heading_1
{
  font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
  color: #61A706;
  font-size: 30pt;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

h2.Heading_2, div.Heading_2

{
  font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;  
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 3em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

h1 a, h2 a, p[class=Section] a
{
  font-family: 'Segoe UI Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
}

p.Heading2Intro
{
	visibility:hidden;
	font-size: 0.1em;
}
p.Heading3Intro
{
  color: #000000;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Heading3RunInHeadNew
{
  color: #000000;
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 1.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Home_Links
{
  color: #000000;
  font-size: 0.8em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.5em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.6em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.HomePageTitle
{
  color: #000000;
  font-size: 1.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

div.MiniTOC
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 80px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

div.MiniTOC_Level1
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 18px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Last_Step_Indent, div.Last_Step_Indent
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 9px;
  margin-left: 15px;
  margin-right: 0em;
  margin-top: 3px;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

.ListItemInTable
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 1em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.NoteInStep, div.NoteInStep
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 1.9em;
  margin-right: 0em;
  margin-top: 0.3em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Section
{
  color: #559E53;
  font-size: 2.2em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 8px;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Sub_Heading, div.Sub_Heading
{
  color: #000000;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 1.5em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Table_Head, div.Table_Head
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  text-decoration: none;
  vertical-align: baseline;
}

p.Table_Para_Space, div.Table_Para_Space
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.3em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

p.Table_Text, div.Table_Text
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.3em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}
p.Table_Text_Center, div.Table_Text_Center
{
  color: #000000;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.3em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

span.Bold
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Code
{
  color: #000000;
  font-family: 'Courier New';
  font-size: 1em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Italic
{
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
}

span.Number
{
  color: #000000;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.Onestep
{
  color: #000000;
  font-family: 'Arial';
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}
span.VariableBold
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}
span.Emphasis
{
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  text-transform: none;
  vertical-align: baseline;
}


span.UI_for_Captions
{
  color: #000000;
  font-style: italic;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.UI_for_Steps
{
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

span.UI_for_Steps_in_Tables
{
  color: #000000;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}

div.pListItemInTable
{
  color: #000000;
  font-size:0.8em;
  line-height: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-bottom: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0em;
  text-align: left;
  text-indent: 0em;
  text-transform: none;
  vertical-align: baseline;
}

table.Ventura_Table
{
  border-collapse: collapse;
  border-spacing: 4px;
  margin-bottom: 0.0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.3em;
  padding-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0.3em;
  text-align: left;
  width: 100%;
}

table.Indented
{
  border-collapse: collapse;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 0px;
  margin-left: 0px ;
  margin-right: 0px;
  margin-top: 3px;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  width: 100%;
}
table.MiniTOC
{
  border-collapse: collapse;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 2em;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 9px;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  width: 100%;
}
table.OrderedList
{
  border-collapse: collapse;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0.3em;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  width: 100%;
}

table.UnorderedListSecondLevel
{
  border-collapse: collapse;
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  width: 100%;
}

table.ToDoHead
/* procedure headings are dark gray agains a light gray background*/
{
  border-collapse: collapse;
  font-size: 0.9em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: #1A1A1A;
  margin-bottom: 1.6em;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 2.5em;
  text-align: left;
  text-decoration: none;
  text-indent: 0px;
  text-transform: none;
  width: 100%;
  background-color: #E7E7E7;	
}

img.Default
{
  position: relative;
  top: 6px;
}
img.Inline
{
  top: 6px;
  vertical-align: middle;
}
img.Sample_Large
{
  top: 6px;
  vertical-align: middle;
}
img.Sample_Medium
{
  top: 6px;
  vertical-align: middle;
}
img.Sample_Small
{
  top: 6px;
  vertical-align: middle;
}
img.Screen_Icon
{
  top: 6px;
  vertical-align: middle;
}
img.Screen_Large
{
  top: 6px;
  vertical-align: middle;
}

img.Screen_Medium
{
  top: 6px;
  vertical-align: middle;
}


p.Movie
{
  color: #000000;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.4em;
  margin-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}
p.MovieText
{
  color: #000000;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  vertical-align: baseline;
  margin-left: 0em;
  margin-right: 0em;
  margin-top: 0.4em;
  margin-bottom: 0em;
  padding-left: 0em;
  padding-right: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}





