/* Default style for links */
/*                         */
a:link:active  {color: #324F85; text-decoration: underline;}
a:link         { color: #324F85; text-decoration: none;}
a:visited      { color: #9797DE; text-decoration: none;
a:link:hover, a:visited:hover   { color: #324F85; text-decoration: underline;}

