/* the stylesheet all page available */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, code, del, 
dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, article, aside, dialog, figure, footer, header, hgroup,
nav, section{
	border:0px;
	font:inherit;
	margin:0px;
	padding:0px;
	outline:none;
	vertical-align:baseline;
}
html{
	height:100%;
}
body{
	background-color:#FF6060;
	height:100%;
	font-family:微软雅黑, 宋体, Arial;
	-webkit-text-size-adjust:none;
}
input{
	font-family:微软雅黑, 宋体, Arial;
	outline:none;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
span.clacWidth{
	font-size:12px;
	position:absolute;
	top:-9999px;
	visibility:hidden;
}

/* index page */
#Error{
	width:980px;
	height:0px;
	margin:0px auto;
	line-height:0px;
	font-size:0px;
	position:relative;
	z-index:1004;
	visibility:hidden;
	_display:none;
}
#Confirm{
	width:980px;
	height:0px;
	margin:0px auto;
	line-height:0px;
	font-size:0px;
	position:relative;
	z-index:1004;
	visibility:hidden;
	_display:none;
}
#Con{
	height:100%;
}
#Cover{
	width:100%;
	height:100%;
	bottom:0px;
	right:0px;
	position:fixed;
	_top:0px;
	_left:0px;
	_position:absolute;
	background:#333333;
	opacity:0.8;
	filter:alpha(opacity=80);
	display:none;
	visibility:hidden;
	z-index:1010;
}
#Help{
	width:674px;
	top:-9999px;
	position:absolute;
	border:1px solid #B3B3B3;
	background:#FFFFFF;
	border-radius:10px;
	box-shadow:0 0 4px rgba(179, 179, 179, 1);
	overflow:hidden;
	z-index:1003;
}
#Login{
	height:100%;
	display:none;
}
#ProgressBar{
	width:100%;
	height:100%;
	bottom:0px;
	right:0px;
	position:fixed;
	_top:0px;
	_left:0px;
	_position:absolute;
	background:#48CFAE;
	display:none;
	visibility:hidden;
	z-index:1010;
}
/* index page end */

/* help */
#helpContent{
	height:1px;
	width:1px;
	display:none;
	top:-9999px;
	position:absolute;
	visibility:hidden;
	overflow:hidden;
}
p.helpTop{
	height:28px;
	line-height:28px;
	font-size:12px;
	padding:0px;
	margin:0px;
	position:relative;
	cursor:move;
	background:#72D3FE;
	text-align:center;
}
span.helpDes{
	color:white;
	font-weight:bold;
	letter-spacing:2px;
}
i.helpClose{
	width:9px;
	height:9px;
	font-size:0px;
	top:9px;
	right:9px;
	position:absolute;
	cursor:pointer;
	background:url(/melogin.cn/images/wzd_me.png) no-repeat scroll -256px -137px;
}
#helpDetail{
	font-size:12px;
	margin:21px 35px 35px;
	word-wrap:break-word;
	word-break:break-all;
}
#helpDetail ul.help{
	color:#434343;
	list-style:none;
	margin-top:3px;
}
ul.help li.des{
	margin-top:10px;
}
ul.help li.title{
	font-weight:bold;
	margin-top:10px;
}
ul.help li.titleList{
	font-weight:bold;
	margin-top:2px;
}
ul.help li.content{
	margin-top:2px;
}
ul.help li.warnning{
	color:#FB6E52;
	margin-top:10px;
}
ul.help ul.listNum{
	margin-left:18px;
	list-style-type:decimal;
}
ul.help ul.listNum li{
	margin-top:2px;
}
ul.help li.contentList{
	margin-top:2px;
	padding-left:20px;
	position:relative;
}
ul.help li.contentList span.num{
	top:0;
	left:0;
	position:absolute;
}
ul.help li.table{
	margin-top:10px;
}
li.table table{
	border:0px;
}
li.table td{
	padding-right:20px;
	text-align:center;
}
/* help end */

/* select */
span.select{
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
}
li.inputLi span.select{
	height:46px;
	width:183px;
}
span.select span.wzdValue{
	display:inline-block;
	font-size:14px;
	width:171px;
}
span.select i.arrow{
	display:inline-block;
	border-top:7px solid #000000;
	border-right:6px solid #FFFFFF;
	border-bottom:0;
	border-left:6px solid #FFFFFF;
	font-size:0px;
	line-height:0px !important;
	height:0px !important;
	overflow:hidden;
	vertical-align:middle;
}
ul.selOptsUl{
	top:-9999px;
	left:-1px;
	width:100%;
	font-size:12px;
	list-style:none;
	position:absolute;
	border:1px solid #999999;
	overflow:hidden;
	max-height:400px;
	_height:expression(this.offsetHeight<400?"":400);
	padding:5px 0px;
	box-shadow:0 0 3px 0px rgba(120,120,120,.6);
	border-radius:6px;
	background:#FFFFFF;
	visibility:visible;
	z-index:1001;
}
ul.selOptsUl li.option{
	cursor:pointer;
	display:block;
	float:none;
	font-size:12px;
	font-weight:bold;
	height:27px;
	line-height:27px;
	margin-left:0;
}
li.option span{
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	visibility:hidden;
}
span.highSetSelect{
	display:inline-block;
	width:219px;
	z-index:1001;
}
span.highSetSelectA{
	width:385px !important;
}
span.highSetSelect span.select{
	height:39px;
	line-height:39px;
	margin-left:30px;
	width:177px;
}
span.highSetSelectA span.select{
	width:355px !important;
}
span.value{
	display:inline-block;
	font-size:12px;
	vertical-align:middle;
	width:157px;
}
span.highSetSelectA  span.value{
	width:325px !important;
}
i.hsArrowM{
	border-top:8px solid #000000;
	border-right:8px solid #FFFFFF;
	border-bottom:0px solid #FFFFFF;
	border-left:8px solid #FFFFFF;
	display:inline-block;
	font-size:0px;
	height:0px !important;
	overflow:hidden;
	vertical-align:middle;
	width:0px !important;
}
/* select end */

/* switch ball */
div.switchCon{
	width:45px;
	height:19px;
	cursor:pointer;
	position:relative;
	vertical-align:middle;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
div.switchConHs{
	margin:0 0 0 10px;
}
div.switchConHsD{
	font-size:12px;
}
i.switchBg{
	width:45px;
	height:19px;
	display:inline-block;
	background:url(/melogin.cn/images/basic_me.png) no-repeat scroll -151px -299px;
	vertical-align:top;
}
i.switchBall{
	width:15px;
	height:15px;
	top:2px;
	left:17px;
	position:absolute;
	display:inline-block;
	cursor:pointer;
	z-index:1;
	background:url(/melogin.cn/images/basic_me.png) no-repeat scroll -81px -299px;
}
/* switch ball end */

/* wizard */
div.wizardContent{
	width:100%;
}
div.wizardContent div.wizardLogo{
	background:url(/melogin.cn/images/logo_me.png) no-repeat scroll 0px 30px;
	height:90px;
	margin:0 auto;
	width:1000px;
}
div.wizardContent div.wizardLogo span.hardwareinfo{
	display:inline-block;
	font-size:16px;
	width:90px;
	height:90px;
	margin-left:193px;
	color:#ffffff;
	line-height:94px;
}
div.wizardCon{
	width:610px;
	margin:0px auto;
	position:relative;
}
li.wizardTop{
	font-size:0px;
	padding-top:55px;
	text-align:center;
}
li.wizardTop img{
	display:inline-block;
	height:100px;
	width:100px;
}
li.wizardMid{
	color:#FFFFFF;
	text-align:center;
}
li.wizardMid h1{
	font-size:40px;
	margin:0 0 5px;
}
li.wizardMid p{
	font-size:12px;
	font-weight:bold;
	margin:0;
}
li.wizardBom p.wizardDetectTip{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin:0 0 16px;
	text-align:center;
	visibility:hidden;
}
li.wizardBom p.wizardTip{
	font-size:12px;
	margin:0 0 12px 155px;
}
li.wizardBom ul{
	font-size:0px;
	margin-bottom:18px;
}
ul.inputUl li{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
li.wizardBom li.inputLi{
	background-color:#FFFFFF;
	border:medium none;
	border-radius:3px;
	font-size:0;
	height:46px;
	line-height:46px;
	margin-left:155px;
	vertical-align:middle;
	width:300px;
}

/* input note */
li.wizardBom li.note{
	display:none;
	*zoom:1;
	margin-left:6px;
	vertical-align:middle;
}
#wizardCon li.note i.arrowL{
	border-top:3px solid #FF6060;
	border-right:5px solid #FFFA76;
	border-bottom:3px solid #FF6060;
	border-left:0;
	font-size:0px;
	height:0px;
	overflow:hidden;
	vertical-align:middle;
	*zoom:1;
}
#wizardCon li.note div.noteCon{
	background-color:#FFFA76;
	border-radius:3px;
	display:inline-block;
	font-size:12px;
	height:46px;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}
#wizardCon li.note div.noteCon p{
	color:#000000;
	margin:0 10px;
	width:101px;
}
/* input note end */

li.inputLi label{
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	width:98px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	li.inputLi input{
		line-height:0px !important;
	}
}
li.inputLi input{
	background-color:#FFFFFF;
	border:medium none;
	font-size:14px;
	height:24px;
	line-height:24px;
	vertical-align:middle;
	width:162px;
}
li.inputLi i.tip {
	background:url("../images/wzd_me.png") no-repeat scroll -282px -128px rgba(0, 0, 0, 0);
	display:inline-block;
	font-size:12px;
	height:17px;
	margin-left:5px;
	vertical-align:middle;
	visibility:hidden;
	width:17px;
}
li.lgBtns{
	font-size:0px;
	margin-bottom:20px;
	padding-top:62px;
	text-align:center;
}
li.lgBtns a{
	cursor:pointer;
}
li.lgBtns i{
	display:inline-block;
	height:35px;
	width:35px;
}
li.lgBtns i.btnR{
	background:url("../images/wzd_me.png") no-repeat scroll -85px -242px;
}

input.wzdDetect{
	background-color:#000000;
	border:0 none;
	border-radius:3px;
	color:#FFFFFF;
	cursor:pointer;
	font-size:15px;
	font-weight:bold;
	height:46px;
	margin-left:10px;
	padding:0;
	vertical-align:middle;
	width:110px;
}
span.wizardSkip{
	cursor:pointer;
	font-size:0px;
	position:absolute;
	right:-146px;
	top:0;
	text-align:center;
}
i.wzdSkipImg{
	background:url(/melogin.cn/images/wzd_me.png) no-repeat scroll -280px -201px;
	display:inline-block;
	height:22px;
	margin:0 auto 6px;
	width:22px;
}
span.wzdSkipDes{
	color:#B21F1F;
	font-size:12px;
	font-weight:bold;
}

/* wizard confirm */
div.confirmCon{
	width:100%;
	top:336px;
	position:absolute;
	z-index:1011;
}
div.confirm{
	width:400px;
	height:153px;
	border-radius:8px;
	margin:0px auto;
	background:white;
}
div.confirm i.confirmLogo{
	width:76px;
	height:76px;
	margin:28px 0 0 46px;
	float:left;
	background:url(/melogin.cn/images/wzd_me.png) no-repeat scroll -4px -214px;
}
div.confirm span{
	display:inline-block;
}
span.confirmQuestion{
	color:#434343;
	font-weight:bold;
	font-size:16px;
	margin:35px 0 0 30px;
}
span.WzdPPPoEConfirmQuestion{
	color:#434343;
	font-weight:bold;
	font-size:16px;
	margin:55px 0 0 20px;
}
p.confirmFuncCon{
	color:#A6A6A6;
	font-size:12px;
	text-align:right;
	margin:27px 18px 0 0;
}
div.confirmFuncCon{
	font-size:12px;
	text-align:right;
}
span.confrimInputCancel{
	border-bottom:1px solid #A6A6A6;
	cursor:pointer;
}
div.confirm  input{	
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	cursor:pointer;
}
div.confirm input.confirmInputConfirm{
	padding:5.5px 32px 5.5px 10px;
	*padding:5.5px 22px 4px 3px;
	background:url(/melogin.cn/images/wzd_me.png) no-repeat scroll -164px -241px;
	height:31px;
	width:92px;
	margin:10px 0 0 30px;
}
div.confirm input.subBtn{
	border-radius:5px;
    width:70px;
    margin:27px 20px 0 0;
    padding:6px;
	*padding:4px 6px;
	_padding:4px 6px 2px;
	background:none repeat scroll 0 0 #9BE280 !important;
}
/* wizard confirm end */
/* wizard end */

/* basic */
ul.bcInputUl{
	font-size:0px;
	list-style-type:none;
	margin-bottom:20px;
	margin-left:105px;
	padding:0px;
}
ul.bcInputUl li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
ul.bcInputUl li.bcInputLi{
	border:1px solid #FF6060;
	border-radius:5px;
	width:387px;
}
ul.bcInputUl li.bcInputLi label{
	background-color:#FF6060;
	color:#FFFFFF;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	height:43px;
	line-height:43px;
	text-align:right;
	vertical-align:middle;
	width:147px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	ul.bcInputUl li.bcInputLi input{
		line-height:0px !important;
	}
}
ul.bcInputUl li.bcInputLi input{
	background:#FFFFFF;
	border:none;
	font-size:12px;
	height:43px;
	line-height:43px;
	*height:39px;
	*line-height:39px;
	margin-left:38px;
	padding:0px;
	vertical-align:middle;
	width:165px;
}
ul.bcInputUl li.bcInputLi i{
	display:inline-block;
	height:100%;
	vertical-align:middle;
	width:23px;
}

/* input note */
ul.bcInputUl li.note{
	display:none;
	*zoom:1;
}
#basicSCon li.note i.arrowL{
	border-top:5px solid #FFFFFF;
	border-right:5px solid #666666;
	border-bottom:5px solid #FFFFFF;
	border-left:0px solid #FFFFFF;
	display:inline-block;
	font-size:0px;
	height:0px;
	overflow:hidden;
	vertical-align:middle;
	width:0px;
}
#basicSCon div.noteCon{
	background-color:#666666;
	border-radius:3px;
	display:inline-block;
	*display:inline;
	*zoom:1;
	font-size:12px;
	height:43px;
	line-height:43px;
	vertical-align:middle;
}
#basicSCon div.noteCon p{
	color:#FFFFFF;
	margin:0px 10px;
	width:101px;
}
p.pwdDepC{
	width:91px !important;
	margin-left:20px !important;
	line-height:30px !important;
}
div.noteCon div.pwdDepL{
	width:75px;
	height:4px;
	font-size:0px;
	margin-left:20px;
	background:#FFFFFF;
}
div.noteCon div.pwdDepLW{
	background:#E5D54A !important;
}
div.pwdDepL label{
	width:0px;
	height:4px;
	display:block;
	line-height:4px;
	background:#FF555C;
}
/* input note end */

div.bFunc{
	cursor:pointer;
	margin-left:280px;
	padding-top:20px;
	width:60px;
	visibility:hidden;
}
i.applyBtn{
	background:url(/melogin.cn/images/basic_me.png) no-repeat scroll -2px -298px;
	display:inline-block;
	height:42px;
	width:40px;
}
#saveImg{
	display:inline-block;
}
#saveImg label{
	color:#FF6060;
	cursor:pointer;
	display:inline-block;
	font-weight:bold;
	margin-top:10px;
	text-align:center;
	width:43px;
}
.basicMenuSlM{
	_left:80px !important;
}
.basicMenuFRM{
	_margin-right:-3px !important;
}
/* basic end */

/* loading */
div.LoadConCover{
	width:100%;
	top:0px;
	position:fixed;
	_position:absolute;
	z-index:1011;
}
div.coverLoadCon{
	font-size:12px;
	height:0px;
	width:0px;
	margin:390px auto 0;
	position:relative;
}
div.coverLoad{
	width:156px;
	height:156px;
	background:#FF6060;
	border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, 1);
	position:absolute;
	top:-124px;
	left:62px;
}
div.coverLoadWzd{
	width:156px;
	height:156px;
	background:#FF6060;
	border-radius:8px;
	box-shadow:0 0 4px rgba(0, 0, 0, 1);
	position:absolute;
	top:0px;
	left:-78px;
}
i.coverLoadClose{
	width:8px;
	height:8px;
	margin:10px 10px 0 0;
	float:right;
	font-size:0px;
	cursor:pointer;
	background:url(/melogin.cn/images/wzd_me.png) no-repeat -256px -137px;
}
p.coverLoadNum{
	color:#FFFFFF;
	font-size:26px;
	margin:25px 0 0 10px;
	text-align:center;
}
p.coverLoadNum span{
	font-size:56px;
	margin-right:2px;
}
img.coverLoading{
	width:28px;
	height:28px;
	margin:54px 0 0 65px;
}
img.coverWarnning{
	width:50px;
	height:50px;
	margin:32px 0 0 53px;
}
p.coverLoadNote{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin-top:24px;
	padding:0 2px;
	text-align:center;
}
p.coverLoadNumNote{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin-top:10px;
	padding:0 2px;
	text-align:center;
}
p.coverLoadWarnning{
	color:#FFFFFF;
	font-size:12px;
	margin-top:18px;
	padding:0 2px;
	text-align:center;
}
p.coverLoadWarnningWzdDect{
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	margin-top:14px;
	padding:0 2px;
	text-align:center;
}
/* end loading */

/* DateControl */
ul.hourList{
	color:#b5b5b5;
	padding-left:0px;
	margin:0 0 0 38px;
	font-size:12px;
	list-style:none;
	text-align:left;
}
ul.hourList li{
	display:inline-block;
	text-align:center;
	*display:inline;
	*zoom:1;
}
ul.hourList i{
	width:18px;
	height:18px;
	color:#999999;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	*display:inline;
	*zoom:1;
}
ul.weekList{
	_width:40px;
	float:left;
	color:#999999;
	font-size:12px;
	list-style:none;
	padding-left:0px;
	margin:0px 10px 0px 0px;
}
.weekList li{
	font-size:11.99px;
	font-weight:bold;
	cursor:pointer;
}
table.tableWeek{
	float:left;
	margin-left:0px;
	font-weight:normal;
	border-collapse:collapse;
	background:#FAFAFA;
}
i.tableICell{
	display:inline-block;
}
td.weekTd{
	border:1px solid #F2F2F2;
	margin:0px;
	font-size:0px;
	text-align:center;
}
/* end of DateControl */

/* IESix compatible */
div.ieSixCompatible{
	width:100%;
	height:0px;
	top:0px;
	left:0px;
	position:absolute;
	z-index:1010;
	display:block !important;
}
div.ieSixCpCon{
	width:300px;
	padding:2px;
	margin:50px auto 0px;
	background:#FFFFEE;
	border:1px solid #FFD685;
}
div.ieSixCpCon i.warn{
	height:16px;
	width:16px;
	display:inline-block;
	margin-right:2px;
	vertical-align:middle;
	background:url(/melogin.cn/images/wzd_me.png) no-repeat -137px -243px;
}
div.ieSixCpCon span.spanClose{
	color:blue;
	margin-left:5px;
	cursor:pointer;
}
/* end of IESix compatible */

/* advance */
/* tip */
div.hsTip{
	width:393px;
	height:194px;
	top:180px;
	position:fixed;
	border:1px solid #B3B3B3;
	border-radius:10px;
	margin-left:420px;
	background:#FFFFFF;
	z-index:1;
	box-shadow:0 0 7px rgba(210, 210, 210, 1);
	overflow:hidden;
}
div.hsTip p.confirmTitle{
	background-color:#9BE280;
	color:#FFFFFF;
	font-size:14px;
	height:27px;
	line-height:27px;
	text-align:center;
}
div.hsTip img.altIcon{
	height:68px;
	width:68px;
	margin-top:23px;
	margin-left:35px;
	display:inline-block;
}
div.hsTip p.detail{
	height:75px;
	color:#434343;
	font-size:13px;
	font-weight:bold;
	line-height:20px;
	margin:30px 0 0 50px;
	width:293px;
}
div.hsTip input{
	border-radius:5px;
	border:0px;
	color:#FFFFFF;
	font-size:12px;
	width:70px;
	padding:6px;
	*padding:4px 6px;
	cursor:pointer;
	vertical-align:middle;
	background:#5E5E5E !important;
}
div.hsTip div.funcDiv{
	text-align:center;
}
div.hsTip input.cancel{
	margin:0 20px 0 116px;
}
/* tip end */

/* progressBar */
#ProgressBar div.progressBarCon{
	width:402px;
	color:#FFFFFF;
	font-size:12px;
	margin:18% auto 0;
}
#ProgressBar p.progressBarDes{
	text-align:left;
}
#ProgressBar div.progressBarBg{
	padding:5px;
	margin-top:12px;
	border-radius:3px;
	overflow:hidden;
	background:#FFFFFF;
}
#ProgressBar p.progressBarDe{
	width:20px;
	height:20px;
	line-height:20px;
	text-align:right;
	padding-right:2px;
	border-radius:3px;
	background:#FB6E52;
}
/* progressBar end */

/* advance UL*/
ul.hsInputUl{
	font-size:0px;
	list-style-type:none;
	margin-bottom:13px;
	margin-left:140px;
	padding:0px;
}
ul.hsInputUlA{
	margin-left:77px !important;
}
ul.hsInputUlB{
	margin-left:5px !important;
}
ul.hsInputUlC{
	margin-left:0px !important;
}
ul.hsInputUl li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
ul.hsInputUl li.note{
	display:none;
	margin-left:6px;
}
li.hsInputLi{
	border:1px solid #FF6060;
	border-radius:5px;
	width:366px;
	*width:367px;
}
li.hsInputLiA{
	width:565px !important;
	*width:566px !important;
}
li.hsInputLiB{
	width:380px !important;
}
li.hsInputLiC{	
	width:229px !important;
}
li.hsInputLiD{
	width:280px !important;
}
li.hsInputLiE{
	border:1px solid #92D34C !important;
}
li.hsInputLiSegment{
	overflow:hidden;
}
li.hsInputLi label{
	background-color:#FF6060;
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	height:39px;
	line-height:39px;
	text-align:right;
	vertical-align:middle;
	width:147px;
}
li.hsInputLiA label{
	width:180px !important;
}
li.hsInputLiB label{
	width:180px !important;
}
li.hsInputLiD label{
	width:180px !important;
}
li.hsInputLiE label{
	background:#92D34C !important;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	li.hsInputLi input{
		line-height:0px !important;
	}
}
li.hsInputLi input{
	border:none;
	font-size:12px;
	height:39px;
	line-height:39px;
	*height:35px;
	*line-height:35px;
	margin-left:30px;
	padding:0px;
	vertical-align:middle;
	width:165px;
	background:#FFFFFF;
}
li.hsInputLiC input{
	width:45px !important;
}
li.hsInputLiD input{
	width:45px !important;
}
li.hsInputLiSegment input{
	margin-left:0px !important;
	text-align:center;
	width:170px !important;
}
li.hsInputLiE span.hsInputSegment{
	background:#92D34C;
	display:inline-block;
	width:100%;
}
li.hsInputLi i{
	display:inline-block;
	height:100%;
	vertical-align:middle;
	width:23px;
}

input.imeModeN{
	ime-mode:disabled;
}

div.highSetWizard{
	_height:35px;
	_padding-top:7px;
}

/* advance UL Des */
ul.hsInputUlDes{
	font-size:0px;
	list-style-type:none;
	margin-bottom:23px;
	margin-left:140px;
	padding:0px;
}
ul.hsInputUlDesA{
	margin-left:77px !important;
}
li.hsInputLiDes{
	border-bottom:1px solid #FF6060;
	display:inline-block;
	width:367px;
	vertical-align:middle;
}
li.hsInputLiDesA{
	width:430px !important;
}
li.hsInputLiDes label{
	color:#FF0000;
	display:inline-block;
	font-size:12px;
	vertical-align:middle;
}
li.hsInputLiDes label.desLbl{
	height:30px;
	line-height:30px;
	text-align:right;
	width:147px;
}
li.hsInputLiDesA  label.desLbl{
	width:180px !important;
}
li.hsInputLiDes label.desLbl i{
	display:inline-block;
	height:100%;
	vertical-align:middle;
	width:23px;
}
li.hsInputLiDes label.noteLbl{
	text-align:left;
	padding-left:30px;
	width:189px;
}
li.hsInputLiDesA label.noteLbl{
	width:175px !important;
}
/* advance UL Des end */
/* advance UL end*/

label.oneLineNote{	
	background-color:#7A7A7A;
	border-radius:5px;
	color:#FFFFFF;
	font-size:12px;
	margin-left:12px;
	padding:5px;
}
label.twoLineNote{
	background-color:#7A7A7A;
	border-radius:5px;
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;	height:39px;
	line-height:19px;
	margin-left:10px;
	padding:0 10px;
}
li.twoLineWidth{
	width:137px;
}
input.hsNwDetect{
	background-color:#5E5E5E;
	border:0px;
	border-radius:5px;
	color:#FFFFFF;
	cursor:pointer;
	font-weight:bold;
	height:30px;
	margin-left:12px;
	padding:0;
	vertical-align:middle;
	width:90px;
}
i.autoDetecting{
	background:url(/melogin.cn/images/wanDetecting_me.gif) no-repeat;
	display:inline-block;
	height:20px;
	margin-left:5px;
	vertical-align:middle;
	visibility:hidden;
	width:20px;
}

/* gridLine */
ul.gridLine{
	font-size:0px;
	list-style-type:none;
	margin-left:140px;
	padding:0px;
}
ul.gridLineA{
	line-height:30px;
	margin-bottom:5px;
}
ul.gridLineB{
	line-height:30px;
	margin:40px 0 10px 140px;
}
ul.gridLineC{
	margin:0px 0 10px 140px;
}
ul.gridLine li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:middle;
}
ul.gridLine li.textCon{
	border-radius:5px;
	border:1px solid #FF0000;
	overflow:hidden;
}
ul.gridLine li.textConA{
	font-size:0px;
	text-align:left;
	*zoom:0 !important;
}
ul.gridLine label.noteLbl{
	color:#000000;
	font-size:12px;
	margin:0 5px;
	display:inline-block;
	vertical-align:middle;
	*margin-left:5px;
}
ul.gridLineB input.checkbox{
	vertical-align:middle;
}
ul.gridLineB label.noteLbl {
    font-size:14px;
    font-weight:bold;
    margin-left:10px;
    vertical-align:middle;
}
ul.gridLineC input.checkbox{
	vertical-align:middle;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	ul.gridLine input.text{
		line-height:0px !important;
	}
}
ul.gridLine input.text{
	color:#000000;
	font-size:14px;
	border:0px;
	padding:0px;
	*margin-top:-1px;
	vertical-align:middle;
	background:transparent;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	input.textA{
		line-height:0px !important;
	}
}
input.textA {
	width:190px;
	height:33px;
	line-height:33px;
	margin-left:2px;
	padding-left:15px !important;
}

/* wlanCheckbox */
li.wlanCheckR input.checkbox{
	margin-left:10px;
	vertical-align:middle;
}
li.wlanCheckR label.noteLbl{
	font-size:12px;
	vertical-align:middle;
}
/* wlanCheckbox end */
/* gridLine end */

div.block{}
div.blockTable{
	margin:0 auto;
	text-align:right;
	width:674px;
}
div.hcCo{
	padding-bottom:50px;
}
div.title{
	padding-top:46px;
	margin:0px auto 30px;
	position:relative;
}
div.titleA{
	margin-left:140px !important;
	width:366px;
}
div.titleB{
	width:674px;
}
div.titleC{
	width:570px;
}
div.titleD{
	width:404px;
}
div.titleSub{
	margin-top:35px !important;
}
div.title label.title{
	font-size:18px;
	vertical-align:middle;
}
div.title div.handleRelCon{
	position:absolute;
	right:30px;
	top:50px;
	visibility:hidden;
}
div.handleRelCon i.state{
	width:17px;
	height:17px;
	display:inline-block;
	vertical-align:middle;
	*display:inline;
	*zoom:1;
}
div.handleRelCon span.state{
	font-size:12px;
	font-weight:bold;
	margin-left:4px;
	display:inline-block;
	text-indent:0px;
	vertical-align:middle;
}
div.title i.helpBtn{
	background:url(/melogin.cn/images/basic_me.png) no-repeat scroll -175px -345px;
	cursor:pointer;
	height:17px;
	position:absolute;
	right:0;
	top:51px;
	width:20px;
}
p.hsTitleLine{
	padding:0px;
	line-height:0px;
	font-size:0px;
	border:0px;
	border-top:1px solid #ff6060;
	margin:0px;
	opacity:0.4;
	filter:alpha(opacity=40);
}
div.blockFuncTable{
	padding:37px 0 30px !important;
}
div.blockFuncA{
	font-size:0px;
	padding:14px 0 30px;
	text-align:center;
	*zoom:1;
}
div.blockFuncA span{
	cursor:pointer;
	display:inline-block;
	margin:0 15px;
	position:relative;
}
div.blockFuncA  label{
	cursor:pointer;
	color:#FF6060;
    display:block;
    font-size:14px;
	font-weight:bold;
    margin-top:6px;
    text-align:center;
}
div.blockFuncA  i.subBtnLg{
	display:inline-block;
    height:41px;
    width:41px
}

/* save */
span.subBtnSv i.subBtnLg{
	background:url(/melogin.cn/images/basic_me.png) no-repeat scroll -2px -299px;
}
span.subBtnSvUn{
	cursor:default !important;
}
span.subBtnSvUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -92px -91px;
}
span.subBtnSvUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* save end */

/* add */
div.blockFuncA span.add i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -48px -4px;
}
div.blockFuncA span.addUn{
	cursor:default !important;
}
div.blockFuncA span.addUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -4px -4px;
}
div.blockFuncA span.addUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* add end */

/* del selected */
span.delSel i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -48px -135px;
}
span.delSelUn{
	cursor:default !important;
}
span.delSelUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -3px -135px;
}
span.delSelUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* del selected end */

/* del all  */
span.delAll i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -92px -4px;
}
span.delAllUn{
	cursor:default !important;
}
span.delAllUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -92px -47px;
}
span.delAllUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* del all end */

/* refresh  */
span.refresh i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -48px -91px;
}
span.refreshUn{
	cursor:default !important;
}
span.refreshUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -4px -91px;
}
span.refreshUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* refresh end */

/* release  */
span.subBtnRel i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -48px -47px;
}
span.subBtnRelUn{
	cursor:default !important;
}
span.subBtnRelUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -4px -47px;
}
span.subBtnRelUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* release end */

/* step */
span.wdsPre i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -136px -4px;
}
span.wdsNext i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -92px -135px;
}
span.wdsNextUn{
	cursor:default !important;
}
span.wdsNextUn i.subBtnLg{
	background:url(/melogin.cn/images/advance_me.png) no-repeat scroll -53px -178px;
}
span.wdsNextUn label{
	cursor:default !important;
	color:#939393 !important;
}
/* step end*/

input.subBtnRect{
	color:#FFFFFF;
	font-size:12px;
	border-radius:3px;
	border:0px;
	cursor:pointer;
	vertical-align:middle;
	background:#A0D468;
}
input.sysToolBtn{
	background:#FFFFFF;
	border-radius:30px;
	font-weight:bold;
	height:40px;
	padding:0px 6px;
	*padding:0px 3px;
	width:130px;
}
input.sysToolBtnEn{
	border:2px solid #FF6060;
	color:#FF6060;
	cursor:pointer;
}
input.sysToolBtnUn{
	border:2px solid #434343;
	color:#434343;
	cursor:default;
}

i.hsSubLoading{
	width:19px;
	height:19px;
	position:absolute;
	background:url(/melogin.cn/images/wanDetecting_me.gif) no-repeat;
}

/* hsVignette */
div.hsVignetteCon{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	visibility:hidden;
	position:absolute;
	z-index:2;
}
div.hsVignetteConBg{
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	filter:alpha(opacity=0);
	opacity:0;
	background:#FFFFFF;
	position:absolute;
	z-index:-1;
}
div.hsVignette{
	margin:0 auto;
	margin-top:198px;
	border:1px solid #B3B3B3;
	border-radius:8px;
	background:#FFFFFF;
	box-shadow:0 0 7px rgba(208, 208, 208, 0.6);
	padding-bottom:20px;
	position:relative;
}
p.hsVigTtop{
	background:#92D34C;
	border-radius:8px;
	color:#FFFFFF;
	height:28px;
	line-height:28px;
	font-size:14px;
	font-weight:bold;
	margin-bottom:32px;
	position:relative;
	text-align:center;
}
p.hsVigTtopBom{
	background:#92D34C;
	height:5px;
	position:absolute;
	top:23px;
	left:0px;
	width:100%;
}
i.hsVigClose{
	width:14px;
	height:14px;
	display:inline-block;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:10px;
	background:url("../images/wzd_me.png") no-repeat scroll -256px -137px;
}
/* hsVignette end */

/* file input */
div.fileDiv{
	width:346px;
	height:41px;
	margin-top:10px;
	overflow:hidden;
	position:relative;
}
input.file{
	font-size:110px;
	top:-5px;
	right:-5px;
	opacity:0;
	filter:alpha(opacity:0);
	cursor:pointer;
	position:absolute;
}
input.fileTxt{
	width:245px;
	height:38px;
	line-height:38px;
	color:#000000;
	font-size:12px;
	float:left;
	border:1px solid #FF6060;
	border-radius:3px;
	padding:0 2px 0 4px;
	background:#FFFFFF;
}
input.fileBrowse{
	float:left;
	padding:10px 22px;
	*padding:8px 14px;
	margin-left:4px;
}
/* file input end*/

/* advance end */