table.dataGrid{
	width:100%;
	margin:0;
	border-collapse:collapse;
	border:1px solid #E4E4E4;
	text-align:center;
}
table.dataGrid tr{
	background:#FEFEFE;
	border-bottom:1px solid #E4E4E4;
}
table.dataGrid td{
	height:40px;
	color:#000000;
	border:1px solid #E4E4E4;
	background:#FEFEFE;
	vertical-align:middle;
	white-space:pre;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
	table.dataGrid input.text{
		line-height:0px !important;
	}
}
table.dataGrid input.text{
	height:21px;
	line-height:21px;
	border:1px solid #FF6666;
	border-radius:2px;
	padding:0px 2px;
	font-size:12px;
	background:#FFFFFF;
}
table.dataGrid input.ipInput{
	width:143px;
}
table.dataGrid input.ipMac{
	width:190px;
}
table.dataGrid input.edit{
	color:#FFFFFF;
	background:#92D34C;
	padding:0px;
	border:1px solid #92D34C;
	border-radius:4px;
	cursor:pointer;
	width:43px;
	height:25px;
	margin-left:2px;
}
table.dataGrid input.cancel{
	color:#FFFFFF;
	background:#FF6060;
	padding:0px;
	border:1px solid #FF6060;
	border-radius:4px;
	cursor:pointer;
	width:43px;
	height:25px;
}
table.dataGrid img.edit{
	width:50%;
	height:100%;
	float:left;
	cursor:pointer;
}
table.dataGrid i.edit{
	width:17px;
	height:17px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/advance_me.png) no-repeat scroll -159px -47px;
}
table.dataGrid i.unedit{
	width:17px;
	height:17px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/advance_me.png) no-repeat scroll -159px -67px;
}
span.dataGridPopVigDes{
	cursor:pointer;
	border-bottom:1px solid #000000;
}
div.dataGridSortDiv{
	height:100%;
	position:relative;
	text-align:center;
}
label.dataGridSortLbl{
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
}
label.dataGridSortLblDe{
	color:#737373;
}
label.dataGridSortLblHv{
	color:#86B157;
}
i.dataGridSortArrow{
	width:9px;
	height:6px;
	font-size:0px;
	margin-left:5px;
	*margin-top:3px;
	_margin-top:2px;
	display:inline-block;
	vertical-align:middle;
}
i.dataGridSortDown{
	background:url(../images/advance_me.png) no-repeat 0 0;
}
i.dataGridSortUp{
	background:url(../images/advance_me.png) no-repeat 0 0;
}
p.dataGridSortP{
	height:2px;
	line-height:0px;
	width:100%;
	font-size:0px;	
	padding:0px; 
	border:0px;
	left:0px;
	bottom:0px;
	position:absolute;
}
p.dataGridSortPDe{
	background:#E6E6E6;
}
p.dataGridSortPHv{
	background:#86B157;
}

/* ======select====== */
div.gridSelectCon{
	height:21px;
	margin:0 auto;
	text-align:left;
	border-radius:2px;
	border:1px solid #FF6666;
	background:#FEFEFE;
}
div.gridSelectA{
	width:390px;
}
div.gridSelectB{
	width:85px;
}
div.gridSelectB1{
	width:70px;
}
span.hsGridValue{
	color:#000000;
	font-size:12px !important;
	line-height:22px;
}
div.gridSelectCon span.select{
	margin-left:15px;
}
div.gridSelectCon  i.arrow{
	border-top:7px solid #000000 !important;
	border-right:6px solid #FEFEFE !important;
	border-bottom:0;
	border-left:6px solid #FEFEFE !important;
}
/* ======select end====== */

/* ======list====== */
span.pageArrow{
	width:20px;
	height:20px;
	line-height:20px;
	float:right;
	margin-left:4px;
	cursor:pointer;
}
span.pageArrowL{
	background:url(../images/advance_me.png) no-repeat scroll -136px -47px;
}
span.pageArrowR{
	background:url(../images/advance_me.png) no-repeat scroll -136px -95px;
}
span.pageArrowFi{
	background:url(../images/advance_me.png) no-repeat scroll -136px -119px;
}
span.pageArrowLa{
	background:url(../images/advance_me.png) no-repeat scroll -136px -71px;
}
div.pageListPo{
	padding-top:10px;
	/*margin-bottom:20px;*/
}
span.ListSpan{
	text-decoration:normal;
}
span.listSpanS{
	text-decoration:underline;
}
div.pageListDiv{
	float:left;
	text-align:center;
}
div.pageListDiv span{
	width:17px;
	color:#FF6060;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin-left:2px;
	line-height:20px;
	display:inline-block;
	background-color:white;
	cursor:pointer;
}
div.pageListContent{	
	height:21px;
	float:right;
	max-width:96px;
	margin-left:4px;
	margin-right:1px;
	overflow:hidden;
	_width:expression(this.offsetWidth<96?"":"96px");
}
/* ====list end====== */

/* ====btn====== */
input.bindBtn{
	height:21px;
	width:21px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	background:url(../images/advance_me.png) no-repeat -4px -177px;
}
input.bindBtnUn{
	height:21px;
	width:21px;
	border:0px;
	font-size:0px;
	cursor:default;
	background:url(../images/advance_me.png) no-repeat -29px -177px;
}
input.radioBtn{
	height:18px;
	width:18px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	outline:none;
	background:url(../images/advance_me.png) no-repeat -135px -175px;
}
input.radioBtnUn{
	height:18px;
	width:18px;
	border:0px;
	font-size:0px;
	cursor:pointer;
	outline:none;
	background:url(../images/advance_me.png) no-repeat -155px -175px;
}
input.popVigBtn{
	width:60px;
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
input.gridBtn{
	color:#FFFFFF;
	font-size:12px;
	padding-top:3px;
	padding-bottom:3px;
	_padding-top:1px;
	_padding-bottom:1px;
	border-radius:3px;
	border:0px;
	cursor:pointer;
	vertical-align:middle;
	background:#A0D468;
}
input.gridSwitchOn{
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
input.gridSwitchOff{
	color:#FFFFFF;
	font-size:12px;
	border:0px;
	padding-top:4px;
	padding-bottom:4px;
	*padding-top:3px;
	*padding-bottom:2px;
	border-radius:4px;
	cursor:pointer;
	background:#A0D468;
}
/* ====btn end====== */

/* ====signal====== */
i.signalCon{
	width:27px;
	height:21px;
	display:inline-block;
	text-align:left;
	background:url(../images/advance_me.png) no-repeat -181px -169px;
}
i.signalCon i.signal{
	height:100%;
	display:inline-block;
	background:url(../images/advance_me.png) no-repeat -213px -169px;
}
/* ====btn end====== */